[2015-03-18 13:15] abergs opened #2 "Unclear installation instructions"
is not enough. How would can I get TS 1.5 as a npm package?

[2015-03-26 10:51] s-panferov commented on #2
@abergs sorry for the long time you have to wait for my answer. This library is not production-ready yet, and to install it now you need to do some `npm link`ing. So I don't recommend you to use it now until TS 1.5 is there.

If you still interested in the installation instructions, just say.

[2015-04-04 09:52] s-panferov commented on #2
@abergs 	TypeScript 1.5-alfa is out, so now you can use v0.2.0 of the loader without any troubles. Please reopen this issue if you have any troubles.

[2015-04-04 09:52] #2 closed

[2015-04-04 19:35] Ciantic opened #3 "Does this work with ES6?"
I'm trying to use ES6, and it's import syntax but it's throwing weird errors.

I use now:

    loaders: [{
            test: /\.ts$/,
            loader: 'awesome-typescript-loader?target=es6&module=!ts-jsx-loader'
        }, ...]

I had to put `module=` since commonjs does not support es6 styled imports. Now I get:

[code]

And my index.ts is basically empty:

[code]

[2015-04-05 00:01] EliotVU opened #4 "Cannot find external module"
Given this directory structure:

    /dist/data/app/script/classes/shared/item.ts
    /dist/data/app/script/classes/shared/status.ts
    /dist/data/app/script/classes/shared/tag.ts

    /dist/data/app/script/classes/clientItem.ts
    /dist/data/app/script/classes/clientTag.ts

And importing clientItem from main.js(traceured, not typescripted), leads to:

    ERROR in ./dist/data/app/script/classes

[2015-04-05 10:56] s-panferov commented on #3
Thanks for your report, I'll check this today.

[2015-04-05 11:02] s-panferov commented on #4
@EliotVU could you please give some small example to reproduce? I haven't checked the case like that with traceur, so I need to take a look.

[2015-04-05 14:32] s-panferov commented on #3
@Ciantic fixed in v0.2.2, please confirm.

[2015-04-05 15:14] EliotVU commented on #4
Ok so my project was originally using RequireJS and Traceur and a few Typescript files where using static typing made sense such as clientItem.ts.

That setup worked fine but I decided to use Webpack for its bundling given that requirejs wasn't very good at it and also rather slow. Now after porting to to Webpack + traceur + typescript and your loader the above issue arises.

So the current setup

[2015-04-06 18:36] s-panferov commented on #3
@Ciantic 	feel free to reopen the issue if you have some troubles

[2015-04-06 18:36] #3 closed

[2015-04-06 22:19] EliotVU commented on #4
Ok I have made a new minimal project for the sake of demonstrating this issue,

you can download it at www.eliotvu.com/files/lab.rar

install it using "npm install" and run it with "gulp".

I had hoped making this little separation might have revealed the problem or a mistake but unfortunately it still cannot find any imports from within .ts files.

[2015-04-07 05:35] s-panferov commented on #4
@EliotVU thank you for your example. I know what is wrong with the loader. I'll try to fix this ASAP.

[2015-04-07 05:57] s-panferov commented on #4
@EliotVU fixed in v0.2.3, please confirm

[2015-04-07 17:05] EliotVU commented on #4
This fixes the lab example but in the actual non minimal app a new issue occurs where I have multiple typescript files importing the same file and this leads to a new problem where the loader tries to load for example item.ts from another .ts file whom doesn't import it and thus the path also breaks as that .ts file is in a subfolder.

    ERROR in ./dist/data/app/script/classes/shared/status.ts

[2015-04-07 17:08] EliotVU commented on #4
To add to that: I have clientItem.ts and clientTag.ts, with the new fix clientItem.ts works and manages to import all the other .ts files, but then clientTag.ts comes into play and fails to load his imports which are sortof the same as clientItem.ts's imports, which looks like this:

    import {Tag, TagRule, TagType, TagReference} from './shared/tag';
    import {Visibility} from './shared/item';

[2015-04-07 17:31] EliotVU commented on #4
Updated the lab example to demonstrate this issue, www.eliotvu.com/files/lab2.rar

[2015-04-08 06:34] s-panferov commented on #4
@EliotVU thanks again! I've found an error with two (or more) root TS files as in your case. Please try v0.2.4

[2015-04-08 09:30] EliotVU commented on #4
New error:

    ERROR in ./dist/data/app/script/classes/shared/status.ts
    Module build failed: Error: no output found for ...\dist\data\app\script\classes\shared\status.ts

    at ...\node_modules\awesome-typescript-loader\dist\index.js:78:19

Content of status.ts

    export enum StatusCode{
        NotFound = '404',
        NotValid = '400',
        NotUnique = 'MUST_BE_UNIQUE',
        OK =

[2015-04-08 11:22] s-panferov commented on #4
@EliotVU I don't think that it's loader error, because the code you published is not a valid TypeScript. It must show you errors like:

[code]

It does it in my case. Could you please publish one more example with your error?

[2015-04-09 09:45] EliotVU commented on #4
Ah good point, I forgot I'm using invalid typescript for that one file, which actually does work regardless of the error, it is more like a warning even if it may be marked as an error.

I believe the issue here with the loader is that it probably denies the file if an error occurred? Where as ordinary Typescript will just throw an error but still continue with building the .js file and thus work

[2015-04-09 10:50] s-panferov commented on #4
@EliotVU yes, I think I can. But I can't repeat setup when errors about StatusCode don't appear. If you don't see the errors — please send me the code so I can repeat this.

I'll implement "emit anyway" stuff.

[2015-04-09 14:05] EliotVU commented on #4
I added the status.ts to "lab" but I get the same error as yours so no need to reupload. That said I don't get it in the main project where it just says "no output found for ...", no clue why it doesn't mention the error first.

[2015-04-09 14:16] EliotVU commented on #4
In lab.rar (the last one you got from me) this error also happens to appear on very random occasions:

[2015-04-09 14:16] EliotVU commented on #4
In lab.rar (the last one you got from me) this error also happens to appear on very random occasions:
ERROR in ./src/classes/client-item.ts
Module build failed: Error: no output found for ...\lab\src\classes\client-item.ts

I also figured even when successful there is no app.bundle.js in /dist/ ever.

[2015-04-09 14:31] EliotVU commented on #4
Oh the /dist/ is empty cause I forgot I'm using gulp-webpack without gulp pipes :package:

[2015-04-09 15:14] EliotVU commented on #4
Alright after some debugging and editing your code I noticed an odd issue that might be the cause of all this:

When trying this code in main.js:

    var _status = require('./classes/shared/status');
    var Status = _status.Status;
    console.log(Status.NotFound);

    // now both client-tag and client-item will fail regardless of client-tag imports
    var Tag = require('./classes/client-tag')

[2015-04-09 17:35] EliotVU commented on #4
I fixed this by rewriting your flow code at index.js:

    flow.then(
        function () {
            return state.checkDependenciesSafe(resolver, fileName);
        })
        .then(function () {
            console.log('----');
            console.log('compiling file', fileName);

            var output = state.emit(fileName);
            var text = '';
            for( var i = 0; i < output.f

[2015-04-09 18:54] gulbanana opened #7 "Does not work with jsx-typescript"
Hi, following the instructions in the README I installed jsx-typescript and set
loader: 'awesome-typescript-loader?compiler=jsx-typescript'

But webpack then produces the following stack trace:

[code]

[2015-04-10 05:56] s-panferov commented on #7
It looks like that jsx-typescript is not aligned with the latest TS right now. We need to wait for its author to update the compiler.

[2015-04-17 08:07] s-panferov commented on #4
@EliotVU just a status update. Right now I can't understand what is wrong, it looks like TS compiler error or something like that. The workaround is to use one root entry TS file.

I'll continue working on that problem during the next weekend.

[2015-04-18 14:35] EliotVU commented on #4
Alright thanks, looking out for the fix! Currently compiling the Typescript files takes about 5-7 seconds with this reset "hack".

[2015-04-30 06:48] #4 closed

[2015-04-30 06:57] s-panferov commented on #4
@EliotVU

`awesome-typescript-loader@0.3.0-rc.0` was published. please check and reopen the issue if something is wrong.

[2015-04-30 07:06] s-panferov commented on #7
jsx-typescript is out of sync with TypeScript 1.5, and it will not be updated in the future, I think. But there is a [PR](https://github.com/Microsoft/TypeScript/pull/2673) from the author of jsx-typescript that aims to add JSX support to TypeScript. So it's better to wait the official support.

I'll close the issue because I can't do anything with it right now.

[2015-04-30 07:06] #7 closed

[2015-04-30 07:57] s-panferov commented on #4
@EliotVU, sorry, the right version is `v0.3.0-rc.1`

[2015-05-02 09:37] cloppy opened #8 "Cannot use node.d.ts reference file."
I tried to get your loader working, but I constantly get errors.

I am using awesome typescript loader at Version 0.3.0-rc.1 and webpack 1.8.9

This is my webpack.config.js:

[code]

When I run the webpack dev server and my index.ts looks like this:

[code]

It states the following error:

[code]

Same when I put in the reference path.

When I try to import the React.js via `import React = require

[2015-05-02 09:47] cloppy commented on #8
Same with rc2

[2015-05-02 16:23] s-panferov commented on #8
@cloppy I think that node's `require` function type conflicts with one that this loader provides. I'll think about how to fix this. Thanks for your report!

[2015-05-03 09:13] s-panferov commented on #8
@cloppy try 0.3.0-rc.3 with `?emitRequireType=false&library=es6` loader options.

[2015-05-03 09:14] s-panferov commented on #8
@cloppy 	see https://github.com/s-panferov/awesome-typescript-loader#emitrequiretype-boolean-defaulttrue section for the details.

[2015-05-03 12:53] erkieh opened #9 "Module build failed: Error: File was not found in program"
I tried to add this typescript loader to the following sample project:
https://github.com/iam4x/isomorphic-flux-boilerplate
I get an error while running "npm run dev". I'm not sure how to proceed from here. The path in the error seems correct.

ERROR in ./app/components/orderEdit.ts
Module build failed: Error: File C:\i\app\components\orderEdit.ts was not found
in program
    at State.emit (C:\i\n

[2015-05-03 19:54] s-panferov commented on #9
@erkieh There are no `orderEdit.ts` file in https://github.com/iam4x/isomorphic-flux-boilerplate/tree/master/app/components. Have you forgotten to commit something?

[2015-05-04 17:43] Ciantic commented on #9
interesting, I'm getting same file not found errors even though they are in the path given by error message

[2015-05-04 18:33] Ciantic commented on #9
The plot thickens, it does not compile with regular typescript-loader either at the moment, error is different:

Stack trace with **typescript-loader**, not awesome one.

[code]

[2015-05-04 18:56] Ciantic commented on #9
My configuration can't be simpler now:

**webpack.config.js**:
[code]

**index.ts:**
[code]

Still same error. Maybe it is some Windows problem?

[2015-05-04 20:28] s-panferov commented on #9
@Ciantic thanks for the details. I will look at this issue tomorrow morning (GMT+3) from my PC with Windows.

[2015-05-05 04:53] Ciantic commented on #9
Hmm, maybe this error is caused by TS 1.5 beta, which is now the default when doing `npm install typescript -g`

I'm now trying in fresh directory in shorter path, with same test files as above. Same error.

[2015-05-05 06:14] s-panferov commented on #8
@cloppy I think that error has been fixed. Please feel free to reopen the issue if something is wrong.

[2015-05-05 06:14] #8 closed

[2015-05-05 09:12] s-panferov commented on #9
@Ciantic yes, this is an error with backslashes on Windows. I'll fix this soon.

[2015-05-05 17:30] Ciantic commented on #9
seems like if I hack awesome-typescript-loader/dist/host.js with

[code]

Things start to work again.

[2015-05-05 17:54] Ciantic opened #10 "Does not work with ts-jsx-loader"
I'm using this: https://github.com/jbrantly/ts-jsx-loader because it is the only valid way (to keep IDE support) to deal with JSX in TypeScript, but unfortunately I can't get it working with normal way:

**webpack.config.js**

[code]

It's as if ts-jsx-loader is never called. And the React.jsx entries are not transformed.

[2015-05-06 14:11] EliotVU commented on #4
Thanks, it appears to have been fixed. Well except for the module not found error, but that has already been reported. Thanks for your time!

[2015-05-07 06:59] seburgi commented on #9
@Ciantic thanks, that fixed it for me too!

[2015-05-08 08:32] s-panferov commented on #10
@Ciantic I know what is wrong here. I'll try to fix this soon.

[2015-05-08 08:33] s-panferov commented on #9
@seburgi @Ciantic please try v0.3.0-rc.5 with the fix.

[2015-05-11 13:06] s-panferov commented on #10
@Ciantic 	landed in v0.3.0

[2015-05-11 13:06] #10 closed

[2015-05-11 15:31] horte opened #14 "Cannot resolve module 'awesome-typescript-loader'"
Firstly, thanks for a great loader.

Previously I used `typescript-loader` but since we use Azure I switched to using `awesome-typescript-loader` after windows path bugs were fixed in this project. Now it works great to build on windows though I am using OS X and when I try to build my project locally I get following error
[code]

Any idea what might be wrong? I have all `node_modules` installed a

[2015-05-11 16:10] s-panferov commented on #14
@horte sorry but I've accidentally published the version without /dist folder. Fixed in v0.3.1. Please try and say if something is wrong.

[2015-05-11 17:41] horte commented on #14
Works like a charm, thx!

[2015-05-11 17:41] #14 closed

[2015-05-16 20:18] aindlq opened #17 "Add support for tsconfig.json"
Would be great to have support for https://github.com/Microsoft/TypeScript/wiki/tsconfig.json. This file is used by many editors which support typescript.

Maybe it is possible to have something similar to gulp-typescript implementation -
https://github.com/ivogabe/gulp-typescript/issues/66#issuecomment-97169740
Any thoughts?

[2015-05-16 20:20] s-panferov commented on #17
@aindlq it it definitely in the future plans. It will be implemented soon

[2015-05-21 14:29] flyon opened #18 "didn't work together with ts-jsx-loader"
I just installed webpack because I would like jsx support with typescript.
Your plugin worked for making js bundles from TS, but adding !ts-jsx-loader didn't seem to do much.

            { test: /\.ts$/, loader: 'awesome-typescript-loader!ts-jsx-loader' }

When I switched to ts-loader it worked and the jsx got replaced:

            { test: /\.ts$/, loader: 'ts-loader!ts-jsx-loader' }

This plugi

[2015-05-28 16:03] johnman opened #19 "Unable to import node_modules"
Hi,

I've given your plugin a try and managed to use the new es6 import syntax to import other source files and use webpack to bundle it. This loads without issue and has nice sourcemap support.

The problem came up when I tried to bring in a new module. A simple example would be uuid.

So the steps are as follows:

* npm install uuid

* fetch the d.ts file from definitely typed and a reference to

[2015-05-29 09:29] develar opened #20 "Cannot read property 'default' of undefined: if style/css loaders used"
My config: https://github.com/develar/cloud-intellij/blob/0aec6770cf1996ba970c2f58dc8d7e8791c2ab09/web-client/webpack.config.js

Works fine if ExtractTextPlugin/style-loader are not used.

[code]

[2015-05-30 07:20] s-panferov commented on #18
@flyon

Achieved in v0.4.0. See example in https://github.com/s-panferov/awesome-typescript-loader/blob/master/examples/tsjsx/webpack.config.js#L9

[2015-05-30 07:20] #18 closed

[2015-05-30 07:21] s-panferov commented on #17
@aindlq

Achieved in v0.4.0. Please see [README.md](https://github.com/s-panferov/awesome-typescript-loader/blob/master/README.md) for details

[2015-05-30 07:21] #17 closed

[2015-05-30 07:22] s-panferov commented on #19
@johnman can you please provide some minimal code example?

[2015-05-30 08:04] s-panferov commented on #20
@develar

Fixed in v0.5.0. Please see corresponding [example](https://github.com/s-panferov/awesome-typescript-loader/tree/master/examples/extract-text)

[2015-05-30 08:04] #20 closed

[2015-05-30 08:27] s-panferov commented on #19
@johnman I understand what's wrong. The problem is that the module you install with `npm i uuid` doesn't have a proper `.d.ts` file on DefinitelyTyped. The closest analog on DefinitelyTyped is `node-uuid` and you can use it, but you need to do one of those things:

1. Alias `node-uuid` to `uuid` to your webpack.config.js
2. Or add these lines to one of your project's `.d.ts` files:

[code]

The lo

[2015-05-30 08:27] #19 closed

[2015-05-30 08:47] develar commented on #20
Thanks a lot for quick fix.

[2015-05-30 11:56] aindlq commented on #17
@s-panferov it was fast :+1: , could you please publish latest version to npm?

[2015-05-30 12:34] s-panferov commented on #17
@aindlq  v0.5.2 was publised

[2015-06-02 17:01] Keats opened #21 "Errors not emptied on watch"
Hello

I'm trying to setup a webpack workflow and am using that loader.
However, when running the webpack-dev-server errors accumulate in between runs ie on every filesave the same error gets pushed to an array I presume and I end up with one error for each time I saved the file.
Any way to cleanup the array or do some dedup?

[2015-06-02 19:01] oliverw opened #22 "Sourcemaps"
Is there any secret sauce required to get typescript-sourcemaps that work correctly when you are not using webpack's built-in dev server?

[2015-06-02 20:20] Keats commented on #21
Actually, even new errors gets multiplied by the number of times since last save.
IE i get error 1 twice, make some changes now get error 2 three times

[2015-06-03 05:44] s-panferov commented on #21
@Keats could you please show me your webpack config

[2015-06-03 10:34] Keats commented on #21
[code]

And it's started with gulp
[code]

[2015-06-04 07:53] mfilotto opened #23 "Npm install is running for ever"
Hi,
Thanks for the lib.
I really would like to test it but npm install is running for ever.
Any idea ?

[2015-06-04 21:27] warrenrumak commented on #23
I'm having the same problem.

[2015-06-05 10:06] s-panferov commented on #21
@Keats please check out v0.5.3

[2015-06-05 10:07] s-panferov commented on #21
I've also added an example with react-hot-loader https://github.com/s-panferov/awesome-typescript-loader/tree/master/examples/react-hot

[2015-06-05 10:08] s-panferov commented on #23
@warrenrumak @mfilotto please check out v0.5.3

[2015-06-05 10:11] s-panferov commented on #22
@oliverw 	could you please show me your config file?

[2015-06-05 19:02] Keats commented on #21
After updating, I now get
`Module build failed: TypeError: Cannot read property 'compilerOptions' of undefined` when running it.

This is my tsconfig.json
[code]

[2015-06-05 19:05] Keats commented on #21
Unrelated to that previous issue but how does this differs from https://github.com/jbrantly/ts-loader ? Might be worth putting in the readme

[2015-06-05 20:39] Keats commented on #21
For the error above: https://github.com/s-panferov/awesome-typescript-loader/blob/master/src/index.ts#L95-L96 is correct in the ts but not in dist so I'm assuming dist is from a slightly older version

[2015-06-05 23:15] mfilotto commented on #23
The problem is solved with that new version.
Thanks for your very quick answer.

[2015-06-05 23:15] #23 closed

[2015-06-08 20:59] RomanDidenko commented on #21
+1

[2015-06-09 07:45] chicoxyzzy commented on #21
same

[2015-06-09 10:12] Keats commented on #21
@s-panferov should be fixed by https://github.com/s-panferov/awesome-typescript-loader/pull/24

[2015-06-09 10:59] s-panferov commented on #21
Sorry for the delay, I was afk on the weekend. PR was merged, version will be released soon.

[2015-06-09 14:17] s-panferov commented on #21
v0.5.4

[2015-06-09 16:47] Keats commented on #21
cheers mate, working for me

[2015-06-09 16:47] #21 closed

[2015-06-26 20:42] komu opened #26 "Build returns with exit code 0 even if there are compilation errors"
If I have a TypeScript file with syntax errors, `webpack --bail` returns exit code 0 instead of producing a non-zero value. If I have a JavaScript file with errors, exit code 1 is returned, as expected.

This seems to be the same issue as andreypopp/typescript-loader#21.

[2015-06-29 11:35] KnisterPeter opened #27 "JSX support"
Please add jsx support.
The typescript-loader from andreypopp does work in combination with ts-jsx-loader which convertes template strings into JSX-JavaScript.
This does not work with awesome-typescript-loader anymore.

[2015-06-29 12:51] s-panferov commented on #27
@KnisterPeter there is an example in https://github.com/s-panferov/awesome-typescript-loader/tree/master/examples/tsjsx

Please ensure that you have https://github.com/s-panferov/awesome-typescript-loader#usewebpacktext-string-defaultfalse option enabled.

[2015-06-29 14:42] KnisterPeter commented on #27
Thanks :)

[2015-06-29 14:42] #27 closed

[2015-06-30 14:12] Delagen opened #28 "Does not update build when webpack cache enabled"
Compiled file does not contain any changes when bundler.run repeatedly

[code]

[2015-07-01 07:26] Delagen commented on #28
Tested babel-loader. It works as expected.

[2015-07-01 07:31] s-panferov commented on #28
@Delagen I'll take a look soon

[2015-07-12 20:23] vania-pooh opened #29 "Using Handlebars with this loader"
Hi, I'm using Webpack inside Gulp with two loaders: this one and [handlebars-loader](https://github.com/altano/handlebars-loader). Having the following webpack configuration...
[code]
... I'm facing the following errors while building 100% Typescript code:
[code]
**Any idea how to fix this?** What I tried:
* My Handlebars templates are imported in **myView.ts** class like the following:
[code]
* I

[2015-07-13 05:08] s-panferov commented on #29
@vania-pooh this is TypeScript thing, not the loader thing.

It you want a working solution right now, you can just write:

let myTemplate = require('../templates/myTemplate.hbs');

Otherwise you need to write something like that in one of your .d.ts files:

[code]

Please read the [discussion](https://github.com/Microsoft/TypeScript/issues/2338) about the problem.

[2015-07-13 05:15] s-panferov commented on #26
@komu it looks like the `bail` option is broken in webpack right now

[2015-07-13 09:14] vania-pooh commented on #29
@s-panferov thank you for the clarification. Let me try this approach in the evening and then close the issue.

[2015-07-13 18:48] vania-pooh commented on #29
Finally ```require``` did the trick.

[2015-07-13 18:48] #29 closed

[2015-07-14 18:17] mikemorton opened #30 "Error when using .tsx files"
Please forgive me if I'm missing something obvious here:

main.ts:
[code]
components\uitest.tsx:
[code]

tsconfig.json:
[code]

webpack.config.js:
[code]
Output from `npm run build` which simply calls webpack:
[code]
If I simply run ntsc it compiles correctly without issue, FWIW

[2015-07-14 19:46] mikemorton commented on #30
I narrowed this down a little bit.  The first problem I found was that my txconfig.json file was not being parsed until after the compiler had been determined using the query parameters to the 'loader' option in the webpack.config.js.  So it was still using the original typescript instead of ntypescript.  I changed it to `loader: 'awesome-typescript-loader?compiler=ntypescript&jsx=react&module=com

[2015-07-14 20:06] s-panferov commented on #30
@mikemorton I'll at this problem tomorrow morning (GMT+3)

[2015-07-15 07:48] s-panferov commented on #30
@mikemorton JSX support was published as v0.6.0. Please look at the [example](https://github.com/s-panferov/awesome-typescript-loader/tree/master/examples/tsx).

Also note that there is a bug with source-maps right now, I've sent the [PR](https://github.com/babel/babel-loader/pull/85) to the babel-loader to fix it.

[2015-07-15 12:29] mikemorton commented on #30
Awesome, thanks.  I'll give this a test later day!

[2015-07-16 09:38] s-panferov commented on #30
@mikemorton ping

[2015-07-16 09:39] s-panferov commented on #26
@komu error is fixed in v0.7.0-rc.0

[2015-07-16 09:39] #26 closed

[2015-07-16 12:29] mikemorton commented on #30
Sorry, I didn't get a chance to try it out yesterday but I hope to again today...

[2015-07-18 07:32] s-panferov commented on #30
@mikemorton I've tested this enough in my company to say that is works. So I close this. Feel free to reopen the issue if you find some troubles.

[2015-07-18 07:32] #30 closed

[2015-07-19 20:44] Anahkiasen opened #31 "Impossible to import class and extend it"
I must be dense cause I'm trying to do something that I thought was simple but no matter how I do it I can't get it to compile:

**app.ts**
[code]

**AppController.ts**
[code]

**AbstractController.ts**
[code]

If I try this I get `Cannot resolve module 'AppController' in /resources/assets/ts`. I pretty much get an error no matter what I try:

### With extension
`import AppController from 'AppCont

[2015-07-20 15:40] s-panferov commented on #31
@Anahkiasen please check this out https://github.com/s-panferov/issue-31

[code]

[2015-07-20 15:40] s-panferov commented on #31
@Anahkiasen 	please say if something goes wrong.

[2015-07-20 15:55] Anahkiasen commented on #31
So I *think* I figured it out with your example, passing the `module` option seems to have done the trick. I'm transitioning from Browserify and was passing my TS options object straight to `tsify` and when I switched to Webpack I forgot to pass the options back to this loader. Thanks for the help!

[2015-07-20 15:55] #31 closed

[2015-07-21 10:52] rakajack opened #32 "Typescript 1.5.3 and commonjs"
With Typescript 1.5.3 I'm getting the error:

Cannot compile modules unless the '--module' flag is provided.

How can I pass this flag to compiler?

[2015-07-22 00:59] KJoyner opened #33 "Changes to separate the checker into another process causes issues with Gulp and Webpack"
I am using Gulp with webpack. To signal that the webpack is done, it calls the callback method. It seems that the  changes related to calling the checker in a separate process is causing webpack to call the callback method multiple times. This in turn causes the error "Error: task completion callback called too many times."

The task looks like:

gulp.task('webpack:production', function(callback)

[2015-07-22 01:01] KJoyner commented on #32
I resolved this by creating a tsconfig.json file (note, not .tsconfig.json) that contained the following:

{
  "compilerOptions": {
    "module": "commonjs"
  }
}

This seems to be needed as a result of a change in the defaults when changing "update ntypescript; remove module by default".

[2015-07-22 05:54] s-panferov commented on #33
Do you use `forkChecker` option? If so, you don't need to use `forkChecker` for production builds. The only use case is when you work with your code in watch mode using small iterations and you don't want to wait the checker every time you modify your code.

If you don't use it, please show me your `webpack.config.js`.

[2015-07-22 05:56] s-panferov commented on #32
@rakajack @KJoyner the loader accepts all compiler options in loader query string too, e.g:

[code]

[2015-07-22 05:57] #32 closed

[2015-07-22 14:23] mrmuh opened #34 "are resolve.alias options supported?"
hello!
to avoid messy relative references with many "../" parts to other classes I tried to use the alias feature of webpack but it seems to be incompatible with the loader.

so my structure looks like this
[code]

and my webpack config contains the following config for resolve:
[code]
in app.ts I try to load the class Constant from constants.ts as follows:
[code]

but when compiling the files I g

[2015-07-22 16:01] Anahkiasen opened #35 "require signature is incorrect"
The current `require` signature is the following:

[code]

But this doesn't support AMD imports as [documented here](http://webpack.github.io/docs/code-splitting.html#require).

[2015-07-22 17:08] Anahkiasen commented on #35
Also needs support for the optional third parameter for [named chunks](http://webpack.github.io/docs/code-splitting.html#named-chunks):

[code]

[2015-07-22 17:11] s-panferov commented on #35
@Anahkiasen 	thanks! If you want a workaround, rust use `emitRequireType=false` loader option and define this functions yourself in one of your .d.ts files. I'll try to fix it tomorrow morning (GMT+3)

[2015-07-22 20:49] fongandrew opened #36 "WebpackDevServer doesn't work with awesome-typescript-loader, ExtractTextPlugin, and sass-loader"
Using the dev server with awesome-typescript-loader, ExtractTextPlugin, and sass-loader results in a `callback(): The callback was already called` error. Not sure exactly what the issue is, but the issue is only triggered when all three plugins / loaders are present.

Related issues here:
https://github.com/webpack/extract-text-webpack-plugin/issues/88
https://github.com/jtangelder/sass-loader/iss

[2015-07-23 05:45] s-panferov commented on #36
@fongandrew 	hello. I've just cloned the repo and everything builds fine. Maybe you have some deps outdated?

[code]

[code]

[code]

[2015-07-23 05:58] s-panferov commented on #34
@mrmuh 	hello! I've just added an example for you: https://github.com/s-panferov/awesome-typescript-loader/tree/master/examples/alias

Please note, that you need to use `rewriteImports` option right which forces loader to rewrite import paths for you. Maybe we can throw this option out when something like https://github.com/Microsoft/TypeScript/issues/2338 will land.

[2015-07-23 05:58] s-panferov commented on #33
@KJoyner ping

[2015-07-23 06:11] s-panferov commented on #35
@Anahkiasen, I added the signature https://github.com/s-panferov/awesome-typescript-loader/commit/970ff87595505f1cda435ee0cb5283d79fa34fc2.

Landed as v0.8.0. Please free to reopen if something is wrong. Thanks again for the report.

[2015-07-23 06:11] #35 closed

[2015-07-23 06:18] s-panferov commented on #34
@mrmuh 	also please note, that such rewrites disable autocomplete features in IDEs right now, because it is a non-standard way of resolving modules.

IDEs will still work when you alias the root folder of your project, e.g.:

[code]

[code]

You import is still remains absolute, but IDE works and you don't need rewriteImports anymore.

[2015-07-23 06:49] mrmuh commented on #34
@s-panferov thank you very much for providing the sample and for pointing out the point with the IDE support; I switched to your absolute "src" approach so I can still make use of the IDE features :+1:

[2015-07-23 06:49] #34 closed

[2015-07-23 07:49] fongandrew commented on #36
Did you try updating the SCSS file? The initial build works fine for me, but the watch crashes when the SCSS file is filed.

[2015-07-24 06:51] s-panferov commented on #33
@KJoyner fixed in v0.9.0

[2015-07-24 06:51] #33 closed

[2015-07-24 06:51] s-panferov commented on #36
@fongandrew fixed in v0.9.0.

[2015-07-24 06:51] #36 closed

[2015-08-01 14:00] cevek opened #39 "watch webpack -w dont work"
I use external modules `import foo from './foo';`
[code]

[2015-08-01 14:05] cevek commented on #39
updated to new version, now its work)))

[2015-08-01 14:05] #39 closed

[2015-08-05 07:39] markogresak opened #42 "Warning: .then() only accepts functions but was passed: [object Object]"
Reported line is: [awesome-typescript-loader/dist/index.js:276:43 => index.ts:349](https://github.com/s-panferov/awesome-typescript-loader/blob/master/src/index.ts#L349-L352).

AFAIK it should be `.then(() => ...`, which will return `Promise.all` promise to .then chain.

[2015-08-05 08:30] s-panferov commented on #42
@markogresak nice catch, thanks! I'll fix this asap.

[2015-08-06 05:58] s-panferov commented on #42
@markogresak thanks again, fixed in v0.11.3

[2015-08-06 05:58] #42 closed

[2015-08-06 17:03] markogresak commented on #42
Thank you for the fix.

[2015-08-07 17:05] Den-dp opened #43 "Is it possible to declare references to *.d.ts files only in tsconfig.json, not in *.ts files?"
I found that `awesome-typescript-loader` fails on compiling `*.ts` files without special `reference` comments to external modules, but `tsc` command works well in this situation.

I assume that this is probably because I moved all references to `tsconfig.json` and for some reason `awesome-typescript-loader` doesn't use them.

If you need repro you can grab this repo https://github.com/Den-dp/webpa

[2015-08-08 05:51] s-panferov commented on #43
@Den-dp thanks for you report. Right now the loader fetches only compiler options from `tsconfig.js`. This is because it's webpack job to find all the references and dependencies. But I think, that the loader possibly can fetch also all the `.d.ts` files without any harm. I'll implement this soon.

[2015-08-10 13:02] Den-dp commented on #43
@s-panferov Thanks for the quick response! It would be great to add this kind of functionality and I hope it's possible.

Thanks for your time

[2015-08-14 06:23] s-panferov commented on #43
@Den-dp sorry for the delay, landed in v0.12.0

[2015-08-14 06:23] #43 closed

[2015-08-19 12:04] oniekrenz commented on #28
Same here. Replaced loader with ts-loader and it works.

[2015-08-21 16:51] snapwich opened #46 "Error thrown in alias example"
I'm trying to figure out the source of this error.  I git cloned your repo, npm installed in root directory, npm installed in examples/alias, installed webpack globally, npm installed "extract-text-webpack-plugin", then ran "webpack".

It seems to output the assets correctly but I get an error for whatever reason:
[code]

[2015-08-21 17:36] snapwich commented on #46
I also seem to get this error in any examples that export anything

[code]

[2015-09-03 09:12] QuantumInformation opened #48 "Referenced file is undefined when using this loader"
I have a class doing this referencing a file:

https://github.com/QuantumInformation/Density-Wars/blob/master/lib/game.ts#L2

however the class Core it is undefined here: https://github.com/QuantumInformation/Density-Wars/blob/master/lib/game.ts#L96

any ideas?

[2015-09-06 14:01] s-panferov commented on #48
@QuantumInformation sorry for the delay, I'll try to check.

[2015-09-07 11:09] kvantetore opened #49 "webpack never finished with forkChecker = true"
When forkChecker is set to true a normal webpack never finishes. It completes emitting and typechecking but never returns to the prompt.

[2015-09-07 12:04] s-panferov commented on #49
@kvantetore thanks, I'll fix this soon

[2015-09-09 17:59] QuantumInformation commented on #48
Many thanks.

[2015-09-10 12:06] s-panferov commented on #49
Fixed by https://github.com/s-panferov/awesome-typescript-loader/pull/52

[2015-09-10 12:06] #49 closed

[2015-09-12 16:34] EliotVU opened #53 "Incompatible to Typescript 1.6+"
Any plans on supporting the latest Typescript 1.6 and up? Currently the loader cannot find the helpers due a path change, however fixing that myself only leads to further problems with the API such as ".text is undefined", or is this a problem on my end?

[2015-09-13 05:52] tomitrescak opened #54 "Babel not found"
Hi

I'm trying to use babel but even if I install it into my directory I keep receiveing:

[code]

It definietlly exists in my package.json and is correctly installed.

[2015-09-13 07:37] s-panferov commented on #53
@EliotVU Could you please provide your package.json and webpack.config.js? My team uses this loader with latest nightly build of typescript and I'm sure that there is no problem with the loader.

[2015-09-13 07:38] s-panferov commented on #54
Hello, could you please provide your webpack.config.js and package.json? Also please describe your environment and OS.

[2015-09-13 08:34] s-panferov commented on #54
@tomitrescak 	this code is responsible for lookup. https://github.com/s-panferov/awesome-typescript-loader/blob/master/src/index.ts#L272-L279

Maybe the problem is that you're running webpack not from the directory where `node_modules` folder is located? If so, please describe your setup and I'll try to make it work.

[2015-09-13 12:42] tomitrescak commented on #54
Hello. Thanks for all your valuable help!!

 I'm trying to do this all in order to get the hot reload back. When I compile TS in Atom to the dist directory, all works jolly good, but loader refuses to support the hot-code-reload.

The setup is from this repository:
[https://github.com/jedwards1211/meteor-webpack-react/tree/typescript](https://github.com/jedwards1211/meteor-webpack-react/tree/types

[2015-09-13 12:56] tomitrescak commented on #54
Ignore my previous post.
I am not receiving the error anymore but i still cant get the hot code reload to work :/

would you mind if you have any time at all to look at setup here https://github.com/jedwards1211/meteor-webpack-react/tree/typescript thanks a ziillion!

[2015-09-13 18:38] s-panferov commented on #54
@tomitrescak I'll have a look tomorrow morning (GMT+3)

[2015-09-16 20:37] EliotVU commented on #53
Nothing out of the ordinary in my config, regardless, this is no longer a problem when I switched to defaude's fork of this plugin.

[2015-09-17 14:42] s-panferov commented on #53
@EliotVU the problem must gone in v0.14.0

[2015-09-23 00:09] Coderah opened #56 "moduleResolution "node" error"
setting
[code]
in tsconfig.json will result in the following error
[code]

I believe this is due to https://github.com/Microsoft/TypeScript/wiki/API-Breaking-Changes#compilerhost-interface-change-comparing-to-typescript-16-beta

[2015-09-23 06:50] s-panferov commented on #56
@Coderah which version of loader and TypeScript are you using?

[2015-09-23 06:55] Coderah commented on #56
running the latest loader 0.14.0 and latest stable typescript 1.6.2

[2015-09-23 07:12] s-panferov commented on #56
@Coderah it's strange, because I've tested the loader with 1.6.2 version. I'll take a look again. Thanks for your report!

[2015-09-23 07:13] Coderah commented on #56
Everything seems to work great with the defaults, to be clear I think its the moduleResolution = "node" that is tripping things up :) thanks, let me know if I can provide anymore info!

[2015-09-23 22:00] Merott opened #57 "Manually triggering compiler#run does not build TS files correctly"
I'm trying to create a Webpack workflow, where I don't use Webpack's built-in watch mechanism, and I would like to manually trigger the compilation process from a different watcher.

On the first trigger of the watch, I am creating an instance of the Webpack compiler, following the [node.js api](http://webpack.github.io/docs/node.js-api.html), then calling `run()`. Thereafter, and on subsequent tr

[2015-09-24 11:12] krtr opened #58 "Error after migration to 0.14.0 and typescript 1.6.2"
After migration to awesome-typescript-loader@0.14.0 and typescript@1.6.2 I'm getting this error:

[code]
 {
    entry: {
        app: ["./src/app.tsx"],
    },
    resolve: {
        extensions: ['', '.webpack.js', '.web.js', '.ts', '.tsx', '.js']
    },
    output: {
        path: path.join(__dirname, 'bin'),
        filename: '[name].bundle.js',
        publicPath: '/bin/'
    },
    module: {

[2015-09-24 15:02] merott-movahedi-cko commented on #57
No such issue with `ts-loader`, switching for now.

[2015-09-24 15:23] Merott commented on #57
No such issue with ts-loader, switching for now.

[2015-09-25 22:37] Coderah commented on #58
try setting ```"moduleResolution": "node"``` in your tsconfig compilerOptions.

Either way this is unlikely the loaders fault.

[2015-09-28 11:17] Iorg commented on #56
@s-panferov, Hi!

I got the same error as @Coderah.

Probably I'm doing something wrong, but with previous version of TS (1.5) everything worked perfect. Could you share your tsconfig.json and webpack.config.js where loader@0.14.0 and typescript@1.6.2 works correctly?

Thanks!

[2015-09-30 10:30] krtr commented on #58
ERROR in ./src/app.tsx
Module build failed: TypeError: Cannot read property 'resolvedModule' of undefined
 at Host.resolveModuleNames

Same error as in #58

[2015-09-30 13:35] nelo112 commented on #58
I've just started making a HelloWorld to learn TypeScript & Webpack and I got the same error:
ERROR in [default] c:/Users/m.huber/_Projects/HelloWorldWebpack/src/entry.ts:1:23
Cannot find module './hello-world'.
but the thing still compiled. I got the bundle.js which I called in the index.html and everything worked.
I then went back to Typescript version 1.5.3 and no longer get the error message.

[2015-10-05 08:50] supermoos opened #59 "Doesn't seem to read tsconfig value from loader string?"
I have this setup:
    module: {
        loaders: [
            {test: /\.ts$/, loader: 'awesome-typescript-loader?tsconfig=tsconfigwebpack.json', exclude: /node_modules/}
]
}

But it still uses the tsconfig.json instead of the one I have defined for compilation?

[2015-10-06 08:59] pepe79 commented on #58
After updating to typescript 1.6.2 and awesome-typescript-loader 0.14.0 we are experiencing the same error on windows builds ONLY (Win 7), Mac OS and Linux builds DO NOT have this error.

[2015-10-06 11:02] nelo112 opened #60 "Doesn't generate inline source maps"
When I try to run with the following tsconfig.json:
  "compilerOptions": {
    "module": "commonjs",
    "inlineSourceMap": true,
    "inlineSources": false,
    "sourceMap": false
  },
I get

[code]

Turning inlinesourcemaps off and sourcemaps on works.
How can I get InlineSource Maps with this loader?

And sourceMaps don't seem to work with the source map loader at all.
https://github.com/webpac

[2015-10-07 19:16] WebWalks commented on #59
I have also found this problem:
The problem is due to an issue in dist/index.js (in the npm node_module folder).
line 122: (line 191 in the index.ts)
    var configFileName = tsImpl.findConfigFile(options.tsconfig || process.cwd());

The actual findConfigFile method of Typescript (in 1.6.2 for sure) doesn't actually do anything with the passed folder, apart from reduce it folder by folder (it just

[2015-10-08 08:10] supermoos commented on #59
Arh okay. Could you post your loader config for webpack?

[2015-10-08 14:53] WebWalks commented on #59
Hope this helps

var path = require("path");
var tsConfigPath = path.join(__dirname, "source", "tsconfig.json");
var entryFile = path.join(__dirname, "source", "browser.tsx");
var outputPath = path.join(__dirname, "public", "js");

module.exports = {
  resolve: {
    extensions: ["", ".ts", ".tsx", ".webpack.js", ".web.js", ".js"]
  },
  entry: [
    entryFile
  ],
  output: {
    path: outputPath

[2015-10-14 03:03] tomitrescak commented on #54
Hi, I still was not able to solve this. Would tyou mind checking following config if you see anything dodgy?

[code]

[2015-10-16 17:20] just-boris commented on #29
I found a new solution:

[code]
Initial import doesn't work because CommonJS modules doesn't have magical `default` export from module. Handlebars generates module exposed with `module.exports` and my solution is how to import that modules at all

[2015-10-16 17:36] just-boris opened #61 "Suppress some diagnostics"
I get the following output at the end of webpack build
[code]
All files actually have been successfully imported by webpack, but during typescript compilation it doesn't know about it and report errors.

Now it always written in console output and distracts from real errors. It would be nice to have ability to disable errors by its code.

These errors has following codes
[TS2307 - Cannot find modu

[2015-10-16 17:38] vania-pooh commented on #29
@just-boris how should we then use individual templates?

[2015-10-16 17:49] just-boris commented on #29
`template` variable is the exactly a single template function.
This is equivalent of `var template = require('./AppLayout.hbs')`

[2015-10-16 18:29] just-boris commented on #61
Also, found that breaks ExtractTextPlugin.
It refuses to extract content if it has erorrs. See [this commit](https://github.com/webpack/extract-text-webpack-plugin/commit/336faab8050e00bc7b4a857774e4f7bb30de72c8).

Because errors from comment above is not actually an error, it should not be reported to webpack and break other plugins

[2015-10-19 02:27] michael-wolfenden commented on #58
I am also seeing the same error on windows 7 with typescript 1.6.2 and awesome-typescript-loader 0.14.0

[2015-10-19 06:39] s-panferov commented on #58
Hello everybody! Sorry for the delay, I was on vacation. Does anybody have an example app I can compile to reproduce the error? And I'll try to compile my own projects on Windows virtual machine to see if I can reproduce the error.

[2015-10-19 15:55] krtr commented on #58
@s-panferov Here you go: https://github.com/krtr/awesome-repro

You should get: `Cannot find module './test/RootView'.`

[2015-10-26 16:34] lukasholcik opened #63 "Cannot find module with transitive references"
Hi there,
I created this issue for yeoman gulp-angular generator, which uses awesome-typescript-loader:
https://github.com/Swiip/generator-gulp-angular/issues/846

And I'm having two issues here:
1) The imports (import .. from ..;) don't work on Windows at all with TypeScript 1.6.*
2) Transitive imports don't work on Windows not even with TypeScript 1.5.*

Detailed description can be seen in the l

[2015-11-02 17:52] raybooysen commented on #34
Hi there

I've just hit this issue, and the example no longer exists.  How can I solve this?

[2015-11-02 19:28] s-panferov commented on #34
@raybooysen could you please describe the problem and your setup in a new issue?

[2015-11-02 21:15] raybooysen commented on #34
I'm using the latest awesome-typescript-loader and using aliases to shorten the import paths.  My tsconfig is:

[code]

I'm seeing the following error:
[code]

where lib is an alias in webpack.

[2015-11-03 09:13] raybooysen commented on #34
Woops, just saw you asked for a new issue. Will do.

[2015-11-03 09:15] raybooysen opened #66 "Error with loading modules in that are aliases"
I'm using the latest awesome-typescript-loader and using aliases to shorten the import paths. My tsconfig is:
[code]
I'm seeing the following error:

[code]

[2015-11-03 10:32] s-panferov commented on #66
@raybooysen I see that you're using Windows. Can confirm that you're using `v0.14.1`?

[2015-11-03 10:37] raybooysen commented on #66
Yes, confirmed. 0.14.1 is installed.

[2015-11-03 10:39] s-panferov commented on #66
@raybooysen ok, I'll try to reproduce

[2015-11-03 10:40] raybooysen commented on #66
Thank you

[2015-11-07 08:13] #53 closed

[2015-11-07 08:13] #28 closed

[2015-11-07 08:13] #22 closed

[2015-11-07 08:14] #56 closed

[2015-11-09 13:39] psychowood opened #68 "deasync dependency alternative"
deasync depencency is basically preventing Windows users from using it because it is a native component that requires some stuff to be configured (python, Visual Studio on top). Any alternative?

[2015-11-10 14:46] CarlAmbroselli opened #69 "incremental compilation breaks"
While developing an angular application with typescript I often get the following error:

`Uncaught Error: [$injector:modulerr] Failed to instantiate module abcApp due to:
Error: [ng:areq] Argument 'directiveFactory' is required`

When I stop my build task and rebuild everything again it works fine again. Also I cannot really reproduce the error, it happens in 8/10 cases, but sometimes I undo thin

[2015-11-10 15:08] s-panferov commented on #69
@CarlAmbroselli do you use `useCache` or `useBabel` options?

[2015-11-10 15:09] s-panferov commented on #69
@CarlAmbroselli could you please provide your full config?

[2015-11-10 15:18] CarlAmbroselli commented on #69
Here is my full config.

tsconfig.json
[code]

gulpfile
[code]

[2015-11-11 03:26] hydrotik opened #70 "Hot Module Reload"
Does this support HMR with internal modules? (Assuming what I am describing is considered an internal module)

For example (I can include more specifics if this is unclear)
```./app.tsx``` is importing a module from ```./components/App/App.tsx```
When I edit App.tsx or _App.scss which is being imported into App.tsx, should I be seeing a reload for that module or styles in that sass file?

Accordin

[2015-11-11 06:21] s-panferov commented on #70
Hello @hydrotik. "Internal modules" has specific meaning inside TypeScript, see [here](http://www.typescriptlang.org/Handbook#modules-splitting-across-files).

Your case is supported, of course. Feel free to reopen, if you have any other questions.

[2015-11-11 06:21] #70 closed

[2015-11-11 15:35] hydrotik opened #71 "Hot Module Reload not working with my setup"
Continuing on from my previous question, here is what I am working with and I am not seeing the module reload when I edit the code or the styles in the imported module/class (./components/App/App.tsx). When I edit the application facade (./app.tsx) I get reload with both code and style changes)

**tsconfig.json**
[code]

**package.json**
[code]

**webpack.config.client-hot.js** (I've tried with an

[2015-11-11 15:38] hydrotik commented on #70
Wasn't able to reopen so I created another issue here with the info:

https://github.com/s-panferov/awesome-typescript-loader/issues/71

[2015-11-12 14:23] ytkj opened #72 "Compilation dose not work in watch mode"
My configuration is
[code]
and my gulpfile is
[code]
compilation only works in the first time execute gulp command.

[code]

* node v5.0.0
* gulp v3.9.0
* webpack v1.12.4
* webpack-stream v2.1.1
* awesome-typescript-loader v0.14.1

[2015-11-12 22:30] davidmiani commented on #72
I have attempted a fix for this. Can you try using `"davidmiani/awesome-typescript-loader#withdist"` for the awesome-typescript-loader version in the `packages.json` file. Then run `rm -r node_modules/awesome-typescript-loader` and `npm install`. If that works I'll make a pull request for the change needed to fix it.

[2015-11-12 23:04] ytkj commented on #72
@davidmiani
works fine! thx!

[2015-11-13 07:50] #72 closed

[2015-11-13 09:21] ytkj opened #74 "Cannot load module in "multiple entry points" mode"
Typescript 'external module' can not be loaded in 'multiple entry points' mode.
My config is below;
[code]
and my gulpfile is below;
[code]
my project structure is;
[code]
app1.ts;
[code]
sub1.ts;
[code]
and output in console is below;
[code]

I acturelly know that a possible solutions is using [shama/vinyl-named](https://github.com/shama/webpack-stream#multiple-entry-points), but I dont want to u

[2015-11-13 10:38] s-panferov commented on #74
@ytkj could you please try the latest version v0.15.0-rc.0?

[2015-11-13 10:57] ytkj commented on #74
@s-panferov I'm using the version provided in #73, by @davidmiani.

- node v5.0.0
- gulp v3.9.0
- webpack v1.12.4
- webpack

[2015-11-13 14:10] raveclassic commented on #60
Ran into this issue when tried to disable sourcemaps completely.
Looks like when `"sourceMap": false` is present in tsconfig, `JSON.parse` in `compiler` tries to parse `undefined` - this is how an error `Module build failed: SyntaxError: Unexpected token u` appears.

[2015-11-13 14:34] s-panferov commented on #60
@raveclassic thanks for your report. I'll fix this.

[2015-11-13 14:47] raveclassic commented on #60
@s-panferov Thanks!
Besides could you please investigate disabling sourcemaps in general?
In my current workflow I use typescript transpiling to es6 and then pass result to babel. Somehow it appeared today that sourcemaps from typescript does not suit anymore to babel and it fails with `invalid mapping` error when receiving `inputSourceMap`
Sure it's problem with babel, but nevertheless I failed t

[2015-11-13 15:16] CarlAmbroselli commented on #69
The error is gone after a cleaning up everything (node_modules, bower_files, compiled files, tsd definitions).

[2015-11-13 15:16] #69 closed

[2015-11-16 12:34] s-panferov commented on #68
Temporary solution landed in v0.15.0-rc.1. Tracking issue in webpack: https://github.com/webpack/webpack/issues/1634

[2015-11-16 13:16] kraf opened #75 "tsx is not supported"
Is there a way to get the built in jsx support of the typescript compiler to work? The only solution I found is to pipe the output to the babel-loader. It looks as if it worked at some point (around `0.6`).

[2015-11-16 13:43] s-panferov commented on #75
@kraf please make sure you have `"jsx": "react"` property inside your tsconfig file. See more detailed info [here](https://github.com/Microsoft/TypeScript/wiki/JSX).

[2015-11-16 15:15] kraf commented on #75
It's in there, I can compile with `tsc`. I also tried passing it in additionally with `awesome-typescript?jsx=react` but no luck. It seems to be treating it like `preserve`.

##### webpack.config.js
[code]

##### entry.tsx
[code]

##### tsconfig.json
[code]

[2015-11-17 18:23] hydrotik commented on #71
Removed Babel, and updated webpack
[code]

[2015-11-17 18:23] #71 closed

[2015-11-18 09:31] frapontillo commented on #60
I have the same issue, and something more with the following configuration:

[code]

With this configuration, the file is generated BUT there are multiple
[code]
directives for each included transpiled module, while in the end there is a
[code]
as it should be.
This leads to errors while processing the source maps, since all the first maps are never found (are they temporary during the transpilati

[2015-11-18 16:16] TomaszScisloGS opened #76 "'ERROR in Unexpected strict mode reserved word' on 0.15.0-rc.1"
Hi,

I've got ERROR in Unexpected strict mode reserved word in verion 0.15.0-rc1

node: 0.10.36
OS: Windows 7 64bit

Is it something on my site?

Regards,
Tomasz Ścisło

[2015-11-18 16:27] s-panferov commented on #76
@TomaszScisloGS v0.15.0 is unstable right now and works only at node v5.0.0. I'll fix this asap.

[2015-11-18 16:35] s-panferov commented on #76
@TomaszScisloGS I've just published v0.15.0-rc.2, could you please try it? It might work on your node version.

[2015-11-18 16:35] TomaszScisloGS commented on #76
How about version 1.14.2?

[2015-11-18 18:37] tscislo commented on #76
Unfortunately 0.15.0-rc.2 doesn't work with node 0.10.40. Any suggestions?

[2015-11-19 07:56] s-panferov commented on #76
@tscislo v0.15.0 version finally works. Can you check?

[2015-11-19 07:56] s-panferov commented on #76
@TomaszScisloGS please check v0.15.0

[2015-11-19 13:43] TomaszScisloGS commented on #76
With 0.15.0 and node 0.10.36 I get:

Unhandled rejection TypeError: Cannot call method 'getOptionsDiagnostics' of undefined
    at Object.getPreEmitDiagnostics (h:\Projects\WDP\src\web\node_modules\typescript\lib\typescript.js:35386:35)
    at Compiler.<anonymous> (h:\Projects\WDP\src\web\node_modules\awesome-typescript-loader\dist.babel\instance.js:261:40)
    at Compiler.next (h:\Projects\WDP\sr

[2015-11-19 21:22] tscislo commented on #76
Doesn't work for me either.

[2015-11-20 11:28] s-panferov commented on #76
I've finally found the error source. Please try version v0.15.1

[2015-11-20 21:22] Andrey-Pavlov opened #77 "0.15.1 Module build failed: Error: ENOENT"
I use generator-gulp-angular. After update from 0.14.1 to 0.15.1  I get errors.

OS: Ubuntu
Typescript 1.6

[code]

[2015-11-22 11:01] tscislo commented on #77
Same on Windows 7 and TypeScript 1.6.2

[2015-11-22 11:02] tscislo commented on #76
Unfortunately now I'm facing this issue: https://github.com/s-panferov/awesome-typescript-loader/issues/77 and I cannot verify this one.

[2015-11-24 13:42] #77 closed

[2015-11-24 13:44] s-panferov commented on #76
Issue was resolved by #79, landed as v0.15.2. Please try it.

[2015-11-24 13:51] s-panferov commented on #76
@tscislo 	also please note, that default `tsconfig` which the generator generates [is not good](https://github.com/Swiip/generator-gulp-angular/pull/925).

[2015-11-24 13:56] s-panferov commented on #75
@kraf do you have `tsconfig` file? Maybe you have the option there?

[2015-11-24 15:14] krtr commented on #58
Seems to be fixed at 0.15.1
Thanks!

[2015-11-24 15:14] #58 closed

[2015-11-24 15:28] s-panferov commented on #75
@kraf please try with v0.15.3

[2015-11-24 15:56] kraf commented on #75
it works, thanks!

[2015-11-24 15:56] #75 closed

[2015-11-24 15:58] squarepants opened #81 "Cannot find module when use module with typings in package.json"
webpack result was fine, but I got an error when packing , I'm new to typescript , please help if something I wrote was wrong.
[code]

beth is a test npm module
typing file is in the npm module and config in module package.json with typings
beth.d.ts in npm module beth

[code]
index.ts in my project
[code]

webpack.config.js in my project
[code]

[2015-11-24 16:24] s-panferov commented on #81
@squarepants as I can see, your `beth.d.ts` doesn't seem correct. You can't use external modules and `export =` syntax if you want your module to be visible via `import * as Beth from "beth";`.

The right way to do this:

**beth.d.ts**:

[code]

Please feel free to reopen if you have any other questions.

[2015-11-24 16:24] #81 closed

[2015-11-25 05:39] squarepants commented on #81
Thank you @s-panferov, Great help!!!

[2015-11-25 07:11] #68 closed

[2015-11-25 07:33] squarepants opened #82 "Cannot find module when use module with typings in package.json #81"
@s-panferov  seems like I can't re-open that issue #81 .

 I did what you said and got that error again.

![image](https://cloud.githubusercontent.com/assets/2764458/11390967/bcb5b826-9389-11e5-955a-c77ab83ee3c2.png)

Still don't know how to solve this problem.

The test code is on https://github.com/squarepants/tstest.git

clone it , npm i and run webpack

[2015-11-25 07:33] #63 closed

[2015-11-25 07:34] s-panferov commented on #60
All problems with source maps might gone in v0.15.3, please try it.

[2015-11-25 07:41] s-panferov commented on #82
@squarepants it seems that TypeScript behaves correctly, because it doesn't know a shape of 'cyra' and there is no `.d.ts` file in https://github.com/kabsky/cyra.

If you want to use some external library that doesn't have any `.d.ts` file, you have several options:

1) Write `.d.ts` file by yourself. The easiest way to do this is to write a stub of `cyra.d.ts`:

[code]

2) Use plain `require`: `l

[2015-11-25 08:59] raveclassic commented on #9
Looks like it is reproducible on Windows hosts again after update to 0.15...

[2015-11-25 09:49] squarepants commented on #82
Sorry that .d.ts file was push after your comment , It does exist in the npm modules before and heres that .d.ts file
[code]

[2015-11-25 11:45] krtr commented on #60
At 0.15.3 and karma I'm still not getting sourcemaps at all with `devtool: 'inline-source-map'`.
![capture](https://cloud.githubusercontent.com/assets/8374421/11396461/ea3e2ea8-9371-11e5-8a7e-13fc9d3cb775.PNG)

config:
[code]

tsconfig:
[code]

[2015-11-26 09:32] gal-indegy opened #83 "Transpilation process became much slower since version 0.15.0"
I use gulp.watch to monitor any change in my ts files and run webpack to bundle my scripts.
All used to work smooth up to awesome-typescript-loader 0.14.1.
Since I upgraded to awesome-typescript-loader 0.15.0, I couldn't work like that anymore, because every webpack run started taking ages (between 10 sec to 2 mins). Before this version it used to take a few seconds (1-5). Originally I've upgraded

[2015-11-26 09:33] s-panferov commented on #83
@gal-indegy please show me your config file. Maybe you faced with this problem: https://github.com/Swiip/generator-gulp-angular/pull/925

[2015-11-26 09:37] gal-indegy commented on #83
Here's my config file:
module.exports = {
    entry: './src/scripts/main.js',
    resolve: {
        extensions: ['', '.webpack.js', '.web.js', '.ts', '.js']
    },
    devtool: 'source-map',
    module: {
        loaders: [
            { test: /\.json$/,  loader: 'json' },
            { test: /\.js$/,    loader: 'babel-loader', exclude: /(node_modules|bower_components)/ },
            { test: /\.

[2015-11-26 09:38] s-panferov commented on #83
@gal-indegy do you have `tsconfig` file?

[2015-11-26 09:39] gal-indegy commented on #83
Oh sure.
[code]

[2015-11-26 09:40] s-panferov commented on #83
Please add `exclude` section to your config file as in the pull request above. Hmm, I think I need to add this exclude as default.

[2015-11-26 10:05] gal-indegy commented on #83
Yes, that seems to make the process much better.
I agree it's a good idea to have this in as default, I guess others might face the same issue.
Thanks.

[2015-11-26 12:08] s-panferov commented on #83
@gal-indegy resolved by #84

[2015-11-26 12:08] #83 closed

[2015-11-26 20:38] frapontillo commented on #60
@s-panferov I can confirm the fix, thanks!

[2015-11-28 02:09] hydrotik opened #85 "Webpack source map examples?"
I'm currently using inline-source-map in my webpack config and don't seem to be getting to the source file. The error is being captured at my entry file. Is there an example of this or some information on how to set this up? My error is located in a component and I would think I would be able to see the error within that file when everything is set up correctly?

[2015-11-28 13:56] tscislo commented on #76
With 0.15.2 it works as expected. Thanks @s-panferov ! Can be closed now

[2015-11-28 15:07] #76 closed

[2015-11-29 17:07] QuantumInformation commented on #48
Any luck with the investigation @s-panferov I've not had much luck:

[2015-11-30 03:09] kataras commented on #9
I just installed awesome-typescript-loader to see if this problem I had a month ago was fixed, and no.. I 'm having the same problem. awesome-typescript-loader is not recognising my internal files/modules starts with  import something from './something' .

I'm using windows.

[2015-12-01 08:55] squarepants commented on #82
We have found this problem
in awesome-typescript-loader/src/index.ts
[code]
this path does not exists, when we replace this with our own typescript module in project, All problems gone away.

[2015-12-01 20:15] tlancina commented on #82
Have the same issue, here's a repo reproducing: https://github.com/tlancina/awesome-ts-loader-issue.
`npm install` and then `webpack` will error.

Hopefully not a configuration error on my part! Digging into it a little, https://github.com/Microsoft/TypeScript/blob/master/src/compiler/program.ts#L77 `host.fileExists(fileName)` always returns false, even though the file does exist.  I'm not sure ho

[2015-12-02 07:13] s-panferov commented on #82
This is an error in the loader. I think that it might be fixed in v0.15.5, please try it.

[2015-12-02 07:36] s-panferov commented on #82
There is one more bugfix in v0.15.6

[2015-12-02 17:28] tlancina opened #86 "Console.log in npm distribution"
I believe there's a `console.log` in `dist.babel/instance.js` on line 287 in the latest npm release.

[2015-12-02 17:29] tlancina commented on #82
@s-panferov big thanks for the timely fix!

[2015-12-03 04:09] mcrawshaw commented on #86
+1

[2015-12-03 08:13] s-panferov commented on #86
@tlancina @mcrawshaw sorry, I've forgot to rebuild my code with babel after removing this debug logging line. Fixed in v0.15.7

[2015-12-03 08:13] #86 closed

[2015-12-03 09:09] mcrawshaw commented on #86
@s-panferov thanks for the quick fix!

[2015-12-03 15:07] tlancina commented on #86
No worries, thanks again for the speedy response :thumbsup:

[2015-12-05 10:37] mcrawshaw opened #87 "Since 0.15.8 my webpack 'entry' is not being honoured."
I have multiple webpack configurations with different entry points for my test suites.  Since the 0.15.8, all files from my tsconfig are being compiled, rather than just the dependency chain from my entry point.

The code change seems to have updated 'options.externals' to 'instance.options.externals'... not sure why this would impact...

@s-panferov any ideas?

Mark.

[2015-12-07 18:51] Luchillo opened #88 "Cannot read property 'NodeJs' of undefined in 0.15.9"
In ionic 2 uses awesome-typescript-loader v 0.12.0-rc.2, updating to 0.15.9 breaks it with the error stack:

    at buildEnumMap (/Users/aplicaciones2/Documents/Programming/OSGroup/taoappionic2/node_modules/awesome-typescript-loader/dist.babel/tsconfig-utils.js:48:48)
    at Object.rawToTsCompilerOptions (/Users/aplicaciones2/Documents/Programming/OSGroup/taoappionic2/node_modules/awesome-typescri

[2015-12-14 21:07] GenZodd commented on #9
Any update on this? Is a fix on the way? We are having the same issue.

[2015-12-15 10:39] aspirisen commented on #74
I have the same issue, `useCache: true` helps.
I use `"awesome-typescript-loader": "0.15.9"` and `"webpack": "1.12.9"`

[2015-12-15 17:47] aspirisen commented on #9
I have the same issue. For me, first of all, it depends on how many entry points I have (now I have 3). One of them is always compiled correctly and two of them are not. If I delete the succeeded entry point from the entries list the next will be compiled correctly and another one not. If I have only one entry point it is always compiled correctly.

Another option is if I use compiled files from V

[2015-12-16 08:50] s-panferov commented on #9
I will look through the issue today. Does anyone has a little example I can play with?

[2015-12-21 22:18] santiagoaguiar commented on #59
Had the same issue.

Was very confusing because the path up to the directory is honored but the filename isn't.

I changed:
[code]
To:
[code]

Which works for me, but might break some existing code; however I'm not sure how it can be useful by only letting you pick a different folder.

I'm currently having a `tsconfig.json` & a `tsconfig.webpack.json` on my `src/` folder and wan't to use `tsconfig

[2015-12-23 11:08] frapontillo commented on #9
I am having the same issue after upgrading to 0.15.9.

[2016-01-05 23:12] tlancina commented on #88
This happens if you haven't updated your Typescript version as well. `NodeJs` path style resolution was introduced in 1.7 I believe.

[2016-01-08 13:50] 4kochi opened #90 "Unit Tests do not work since v0.15.8"
Since this change my unit tests does not work any more. 0.15.7 -> v0.15.8 (1715bee8be0c2397ad3564e96ecb2fd05b77d81d)

My error:

[code]

Here is my gulp config:

[code]

[2016-01-14 14:09] gal-indegy commented on #87
+1
Before 0.15.8 *-tests.ts files were ignored (as should be), now for some reason they are being read.

Unhandled rejection Error: Cannot resolve module 'angular' in c:\git\graphology\src\typings\angularjs
    Required in c:\git\graphology\src\typings\angularjs\angular-amd-tests.ts
    at ResolutionError.Error (native)
    at new ResolutionError (c:\git\graphology\node_modules\awesome-typescript-

[2016-01-15 07:59] musakarakas commented on #9
@frapontillo Same here. 0.15.8 also has the same issue. v0.15.7 works fine.
Apparently, 1715bee broke it.

[2016-01-20 15:15] andrew-w-ross opened #92 "I think you have a stack overflow or something of that nature"
I get the following error

[code]

If I comment out that section the error will just switch to a new file. I've tried it several times and each higher up in the hierarchy (the file that required that file) will get  the error. It helps if I set it to `"useCache":true` but that it'll break if I include all my files again.

[2016-01-21 17:06] hydrotik opened #93 "Ability to use outside of webpack?"
Any thoughts on the possibility of using this outside web pack, say to transpile views on the server side for something like express/hapi?

[2016-01-22 03:13] gdi2290 opened #94 "difference between ts-loader?"
What's the difference between the two loaders?

[2016-01-25 06:46] BHouwens commented on #9
@musakarakas +1 to this, 0.15.7 fixes the issue

[2016-01-25 06:47] andrew-w-ross commented on #92
Nevermind turns out it's a repeat of #9

[2016-01-25 06:47] #92 closed

[2016-01-25 06:48] andrew-w-ross commented on #9
@musakarakas Looks like you're right 0.15.7 is the version to use.

[2016-01-26 11:08] s-panferov commented on #87
Fixed in v0.15.10

[2016-01-26 11:08] #87 closed

[2016-01-26 11:10] s-panferov commented on #88
It seems that you have this in your tsconfig.json:

[code]

Please replace it with

[code]

[2016-01-26 11:13] s-panferov commented on #9
Could you please try v0.15.10?

[2016-01-26 11:24] musakarakas commented on #9
v0.15.10 works for me. No errors or warnings.
Thanks for the update @s-panferov.

[2016-01-26 14:04] Luchillo commented on #88
Actually that was quite some time ago, updating to 0.15.9 and removing that `moduleResolution` variable, along with installing typescript ^1.7.5 fix this issue.

[2016-01-26 14:04] #88 closed

[2016-01-27 11:56] mcrawshaw commented on #87
Thanks, I can also confirm it's working now.

[2016-01-30 09:21] s-panferov commented on #90
@4kochi version v0.15.10 must fix this. Please check.

[2016-01-30 09:21] #9 closed

[2016-01-30 11:47] 4kochi commented on #90
Works fine now with `v0.15.10`. Thanks.

[2016-01-30 11:47] #90 closed

[2016-02-01 15:32] dietergoetelen commented on #74
In my case it can't find my typescript definition file. Is this related to the above issue or should i create a new issue?

[2016-02-02 06:32] s-panferov commented on #74
This issue must be fixed by v0.15.10, please check

[2016-02-04 21:55] aspirisen opened #96 "An error occurs if tsconfig has out option"
I've noticed that building fails if tsconfig has `out` option. I think in this case the loader should ignore this option in tsconfig file

[2016-02-05 07:04] s-panferov commented on #96
@aspirisen nice catch, I'll take a look

[2016-02-06 08:10] #60 closed

[2016-02-06 15:08] aspirisen opened #97 "What is correct behaviour if tsconfig has only files property with entry point?"
In `tsconfig.json` i set the entry point of my app. As i set files property i shouldn't set exclude property as it is written in TS docs. Also, VS Code doesn't work correctly if `tsconfig.json` has both options. So, when i run `tsc` everything works ok. When i run it in webpack i see a warning message that i should set exclude property when `resolveGlobs` is true. I set it to false but then the bu

[2016-02-06 16:52] aspirisen opened #98 "HMR Doesn't work if there is compiled file nearby ts file"
It seems that HMR always reload whole page if there are compiled files nearby `*.ts` files. In the browser console you can see the warning:

[code]

If you delete these `.js` files everything will work ok. On the one hand it is not critical issue, but on the other hand there are several IDE's that can't work with TypeScript without emitting compiled files (Atom, VS Code, Visual Studio).

There is

[2016-02-06 17:53] s-panferov commented on #98
@aspirisen thanks for your report. Can I see your webpack config?

[2016-02-06 17:54] s-panferov commented on #97
@aspirisen thanks, nice catch! I should remove the warning in this case.

[2016-02-06 18:35] aspirisen commented on #98
@s-panferov Sure:

[code]

You can find the whole exanple on the link in the topic above

[2016-02-11 22:54] ocombe opened #99 "Webpack dev server not reloading on changes"
I added your loader instead of ts-loader (which works fine for me), and now my page doesn't reload on changes.
It recompiles but I get the messages:
[code]
It says that nothing changed and it doesn't reload the page :(

In my shell I have the messages:
[code]

You can find my repository here: https://github.com/ocombe/ng2-webpack/tree/awesome-typescript
On the branch awesome-typescript it uses you

[2016-02-16 18:56] hydrotik commented on #93
I'm in the process of working on hapi-typescript-views and there is a lot of similar functionality in both. Going to take a closer look at this myself and report any findings.

[2016-03-02 01:32] EvanWillms opened #101 "Module build failed: Error: Emit skipped at State.emit"
Anytime I try to build an Ionic 2.0.0-beta.8 app with webpack and awesome-typescript-loader that had previously successfully built under babel-loader, I get an error of "Module build failed: Error: Emit skipped".  My webpack.config.js and tsconfig.json files should be good based on observed consistency across several sample projects.

[code]

Full npm install and run:
https://gist.github.com/EvanW

[2016-03-02 16:23] bitjson opened #102 "Symlinks seem to cause 'Line 1: Unexpected token'"
It seems like `awesome-typescript-loader` fails when a symlinked file is imported:
[code]

Sample directory structure:
[code]

When `appA.ts` or `appB.ts` try to use a class imported from `shared/component.ts`, the error: `Line 1: Unexpected token` occurs. When the symlinks are deleted and the files are duplicated in their place, the build works as expected.

Has anyone else experienced issues wit

[2016-03-02 17:33] s-panferov commented on #102
@bitjson thanks for your report. Could you please show me your webpack.config.json?

[2016-03-02 18:44] bitjson commented on #102
Thanks for looking into it. The webpack.config.json is here: https://github.com/bitjson/icv2/blob/866709a46390fc51814c42ea6ca617634acf12ac/webpack.config.js

[2016-03-02 19:12] bitjson commented on #102
(Just a note – this could also be related: https://github.com/webpack/webpack/issues/1643)

[2016-03-02 19:25] s-panferov commented on #102
@bitjson answered there https://github.com/webpack/webpack/issues/1643#issuecomment-191384836

[2016-03-02 19:55] bitjson commented on #102
That makes sense. Any ideas on what the best practice would be for importing a symlinked file like this with `awesome-typescript-loader`?

[2016-03-03 06:15] s-panferov commented on #102
@bitjson there is nothing to do at the loader level, because it is impossible to see symlink path, only absolute path. I would recommend you to set more permissive `include` or completely remove `include` line from your config to allow all the files to be processes.

[2016-03-03 06:17] s-panferov commented on #101
@EvanWillms 	I will take a look today

[2016-03-03 09:20] s-panferov commented on #101
@EvanWillms 	JS compilation is a quite new TS feature and there are a lot of issues right now. It looks like that the problem is in TypeScript itself right now https://github.com/Microsoft/TypeScript/issues/7363

[2016-03-04 06:56] s-panferov commented on #101
@EvanWillms JS support added in version v0.16.0-rc.0. Please note that support is **experimental** for now and a lot of testing is required. Could you please check this version on your codebase?

[2016-03-08 15:58] jasdeepsingh commented on #101
I'm having this exact same issue, I'll try out the v0.16.0-rc.0 @s-panferov

[2016-03-09 08:09] gdi2290 opened #103 "inconsistency with type definitions and errors"
I'm trying to use this module for these starters
https://github.com/angular/universal-starter
https://github.com/angular/angular2-starter
https://github.com/AngularClass/angular2-webpack-starter
but randomly I'll get errors because the loader sometimes can't find the type definitions in `typings/`. For example in angular2-starter is great but in universal-starter there are many errors. then in ang

[2016-03-17 08:28] s-panferov commented on #101
@jasdeepsingh @EvanWillms

could you please tell me about results?

[2016-03-17 21:46] Cleod9 commented on #59
I can confirm this issue, @santiagoaguiar your fix works.

Any chance you can submit a PR with that change? I see no reason not to merge it in. I doubt many people are using the feature in the first place judging by the amount of attention this thread has gotten.

[2016-03-18 06:09] s-panferov commented on #59
Hi all, thanks for your report. I've never thought about this use-case with different config files for different build systems. Could you please explain why do you need two configs?

Anyway, I'll fix this ASAP.

[2016-03-18 11:47] andrew-w-ross opened #105 "Declaration file emit"
Hi

How do I get declaration file to emit? I've set `"declaration": true` in my tsconfig.json and I've set the library in the output on my webpack config.

Is there anything else I'm not doing?

[2016-03-18 15:08] Cleod9 commented on #59
Thanks! What I wanted was to have separate configs so I could enable/disable `babel` as a pass through. I use the `config` module for Node.js to drive my build settings, and it let's me specify configurations based on the environment

[2016-03-19 06:35] s-panferov commented on #59
Landed in v0.16.0

[2016-03-19 06:35] #59 closed

[2016-03-19 06:36] s-panferov commented on #101
Landed in v0.16.0

[2016-03-19 06:36] #101 closed

[2016-03-19 06:39] s-panferov commented on #105
@andrew-w-ross

I'm not sure that TypeScript supports generation of "all-in-one" definition file for your library. Most likely we can emit a definition per source file, but I think that it's not what you want, right?

I need to think about that.

[2016-03-19 07:31] #103 closed

[2016-03-19 07:31] s-panferov commented on #103
@gdi2290 sorry for the delay in reply, fix landed in v0.16.1

[2016-03-19 07:36] #96 closed

[2016-03-19 07:40] #97 closed

[2016-03-19 07:48] s-panferov commented on #94
This loader was created mostly to speed-up compilation in my own projects. Some of them are quite big and I wanted to have full control on how my files are compiled. There are three big points:

1) awesome-typescript-loader (atl) uses dependency resolution to build modules dependency graph. This speeds up build process in *some* corner cases, but adds a lot of additional complexity. Also it can re

[2016-03-19 07:59] s-panferov commented on #99
@ocombe sorry for the delay in answering.

I've tried to build your branch and everything works fine for me, page reloads! Could you please try the latest loader version?

[2016-03-19 08:40] ocombe commented on #99
I'm on windows, maybe that's the problem ?

[2016-03-19 23:03] pablorsk opened #106 "Property 'context' does not exist on type 'Require'."
I have this code in xxx.JS:
[code]
And work fine. But when the file is xxx.TS the gulp says:
[code]
What we are missing?

If you are interested on the use of this code: we need load dynamically TS files and put like angular.module.

Regards...

[2016-03-20 01:08] gdi2290 commented on #103
@s-panferov thanks!

[2016-03-20 06:19] s-panferov commented on #106
@pablorsk, thanks for your question. To solve this you can either

1) add '&+emitRequireType' to `awesome-typescript-loader` query string
2) or copy [this](https://github.com/s-panferov/awesome-typescript-loader/blob/master/lib/runtime.d.ts) file into your program.

[2016-03-20 06:19] #106 closed

[2016-03-20 06:22] s-panferov commented on #106
If you're using `node` typings in your project, you need to add something like this to one of your .d.ts files:

[code]

[2016-03-20 06:32] s-panferov commented on #99
Maybe, I'll try to run it at my windows virtual machine

[2016-03-20 06:34] andrew-w-ross commented on #105
@s-panferov It would be best if it could be one definition. That way you could just set the `typings` field on `package.json` and definitions would just work if you had commonjs module resolution. The tricky bit would be definitions that the project is dependent on. Do you bundle them in or reference to them?

[2016-03-20 06:40] s-panferov commented on #98
@aspirisen sorry for the delay in answering. Please try to reorder extensions in your config file to ensure that `.ts` files have priority:

[code]

[2016-03-20 06:49] s-panferov commented on #93
@hydrotik sorry for the delay in answering. I don't think that it's in scope of this library. I believe that most of the work you need can be with TypeScript compiler API.

Feel free to ask any questions.

[2016-03-20 06:49] #93 closed

[2016-03-20 06:56] #74 closed

[2016-03-20 06:59] s-panferov commented on #54
Should be fixed in newer versions.

[2016-03-20 07:00] #82 closed

[2016-03-20 07:02] s-panferov commented on #57
Should be fixed in recent versions.

[2016-03-20 07:02] #57 closed

[2016-03-20 07:04] s-panferov commented on #85
Everything should work out of the box. If you're still interested, please provide your `webpack.config.js`.

[2016-03-20 07:04] #85 closed

[2016-03-20 07:05] s-panferov commented on #46
Should be fixed in newer versions.

[2016-03-20 07:05] #46 closed

[2016-03-20 07:06] s-panferov commented on #48
Should be fixed in recent versions.

[2016-03-20 07:06] #48 closed

[2016-03-20 07:09] s-panferov commented on #61
I believe that now it can be achieved by `allowNonTsExtensions` tsconfig option.

[2016-03-20 07:09] #61 closed

[2016-03-20 07:09] s-panferov commented on #66
Should be fixed in recent versions.

[2016-03-20 07:09] #66 closed

[2016-03-20 15:21] pablorsk commented on #106
Thanks  @s-panferov! The answer 2 was the correct.

I found another solution and work it, I think is similiar:
[code]
Off couse, I have this line on my index.module.ts:
[code]
Thanks again!

[2016-03-20 20:06] YuliaTsareva opened #107 "Compiler options passed in query string are ignored"
I would like to override one of the compiler options specified in tsconfig.json. I prefer to pass it in query string rather than add loader config in tsconfig.json.

But it seems that awesome-typescript-loader prefer the options from tsconfig.json. I did a little investigation and found that line of code:
`_.extend(options, configFile.compilerOptions);`

Would you consider to change this behaviour

[2016-03-21 05:22] #107 closed

[2016-03-21 05:23] s-panferov commented on #107
@YuliaTsareva thanks for your report. Yes, this seems reasonable.

Landed as v0.17.0-rc.0

[2016-03-21 21:14] YuliaTsareva commented on #107
Thank you for such a quick fix!
But it is still not available in npm...

[2016-03-22 01:53] andruhon opened #108 "Doesn't seems to work with TypeScript 1.8 (1.8.0 beta, 1.8.5)"
awesome-typescript-loader@0.17.0-rc.0 Erupts the following:

[code]

[2016-03-22 05:19] s-panferov commented on #108
@andruhon what kind of a project are you trying to build? JS? TS?

Could you please show me your `webpack.config.json` file?

[2016-03-22 05:42] andruhon commented on #108
@s-panferov it is TypeScript

The webpack config file:
[code]

tsconfig:
[code]

[2016-03-22 06:00] s-panferov commented on #108
@andruhon please try v0.17.0-rc.1

[2016-03-22 06:15] andruhon commented on #108
It now works. Thank you!

So, it was caused by noEmit option?

[2016-03-22 06:15] #108 closed

[2016-03-22 06:18] s-panferov commented on #108
Yes, `noEmit` option tells TS not to emit result files and this is not desirable behavior for loader, so we just ignore the option.

[2016-03-22 06:22] andruhon commented on #108
I mistakenly thought that this option is required by the loader

[2016-03-22 09:51] timbru31 opened #109 "Module build failed: Error: resultPath.match is not a function"
The issue was introduced with commit d7a8a6415b178b080da4b281cb1ab9351bbeca5f, it occurs here:
https://github.com/s-panferov/awesome-typescript-loader/commit/d7a8a6415b178b080da4b281cb1ab9351bbeca5f#diff-50bb07c4a1e1eae42d7fec97d2d8b8eeR42

We have the following in our webpack loader config (relevant snippet)
[code]

Is this a regression due to js support or do we have to change/update our webpack

[2016-03-22 09:59] s-panferov commented on #109
@timbru31 thanks for your report. This looks like a regression. Could you please modify loader's code locally and log `resultPath` variable?

[2016-03-22 23:35] timbru31 commented on #109
Hope this helps, if not I'll be happy to provide more information. Note: I'm using webpack 2.1.0-beta.4 if that matters.

[code]

[2016-03-23 05:31] s-panferov commented on #109
@timbru31 it seems that webpack2 has different result format. I'll try to fix this

[2016-03-23 05:53] s-panferov commented on #109
@timbru31 fix in v0.17.0-rc.2. Please try it on your codebase.

[2016-03-23 07:26] timbru31 commented on #109
Thanks for the quick fix, works fine with both wepback 1 and 2. :beers: :

[2016-03-23 07:26] #109 closed

[2016-03-23 22:56] danielmariz opened #110 "RC releases as latest"
Hey mate, just wondering if your last release is reliable, cause is set up as your latest version on npm info, which means it will be automatically updated in fill projects.

Cheers!

[2016-03-24 05:46] s-panferov commented on #110
@danielmariz hello.

If you have something like "^0.16.2" in your `package.json` file, you will never get `0.17.0-rc.x` version by auto-update. You can check this out here http://semver.npmjs.com/.

As for fresh install, e.g. by command `npm install awesome-typescript-loader --save` I think it's ok to install pre-release version, because it's quite stable and you usually don't have any backward co

[2016-03-24 05:46] #110 closed

[2016-03-24 07:16] #98 closed

[2016-03-24 07:16] s-panferov commented on #98
Please tell if issue will appear after the change.

[2016-03-27 07:22] episodeyang opened #112 "having trouble with es6 generator syntax"
If I try to compile the following script:

[code]

I get the following error message with @0.15.10 using node v4.3.2

[code]

[2016-03-27 07:26] episodeyang commented on #112
upgraded node to v5.9.1 but the error still persists.

[2016-03-27 07:52] episodeyang commented on #112
Looks like setting `tsconfig.json` to target `ES6` fixed the issue. Now I just need to figure out how to publish ES6 module to npm without getting complains.

[2016-03-27 08:00] s-panferov commented on #112
@episodeyang this is not the loader's issue. The problem is that webpack can't parse es6 syntax yet. You can try to use webpack `2.1.0-beta.4` version, but I'm not sure if it supports all es6 syntax already.

[2016-03-27 08:21] episodeyang commented on #112
Thanks!

[2016-03-27 08:21] #112 closed

[2016-03-28 18:07] Ciantic commented on #112
Hmm, I'm having Es6 problems too, with ts-loader it's simply like this:

[code]

But with awesome-typescript-loader there is no way to add presets[]=es2015-loose ?

[2016-03-28 18:11] Ciantic commented on #112
Duh, of course it works like this:

[code]

But it can't use the awesome-typescript-loaders "useBabel" because it can't take the presets

[2016-03-28 18:13] Ciantic opened #113 "Babel presets for useBabel"
Right now only way I can target ES6 is like this:

[code]

And I probably loose some awesomeness because I can't use "useBabel" option, would it be possible to add presets to the useBabel?

[2016-03-28 18:24] Ciantic commented on #113
@ @

[2016-03-28 18:25] Ciantic commented on #113
Well. I closed this accidentally.

[2016-03-29 05:02] s-panferov commented on #113
@Ciantic 	currently you can just create [`.babelrc` file](https://babeljs.io/docs/usage/babelrc/) with babel settings to the root of your project. I will consider to add babel options to the loader settings, but `.babelrc` is far more universal solution.

[2016-03-29 06:21] s-panferov commented on #113
@Ciantic 	`babelOptions` option was added in `v0.17.0-rc.3`, but I would recommend to use `.babelrc` instead.

[2016-03-29 06:25] s-panferov commented on #105
@andrew-w-ross sorry for a long delay. I've had come time today to make basic implementation of `declaration` option support. I believe that this impl is not sufficient, but enough to discuss.

Please try the version `0.17.0-rc.3`

[2016-03-29 14:01] andrew-w-ross commented on #105
@s-panferov Thanks I'll give this a try. Although currently I do have a very hacky workaround.

[2016-03-29 17:20] Ciantic commented on #99
Webpack 2 problem I think, there is even error message:

Error: Signature changed: context parameter added
    Required in C:\...\App\Components\Counter.tsx

If one googles the "Signature changed: context parameter added" it's something other webpack loaders need to fix also for webpack 2.

Should this loader even work with webpack 2 yet?

[2016-03-29 17:33] Ciantic commented on #99
Ah there is some deprecation notice in here:
https://github.com/webpack/enhanced-resolve/blob/master/lib/Resolver.js#L28

The awesome-typescript-loader is using old format, but it's bizarre because I thought the package.json versions would work...

[2016-03-29 17:48] Ciantic commented on #99
Okay sorry for spamming, but the problem is now clear:

When one installs webpack 2, it installs enhanced-resolver 2

but awesome-typescript-loader is pegged with ^ modifier:

https://github.com/s-panferov/awesome-typescript-loader/blob/master/package.json#L34

To work with any major version, which is not true of course.

Solution is to peg it to 0.9.x or update awesome-typescript-loader to work w

[2016-03-29 19:22] Ciantic commented on #99
HOT FIX:

If you use babel, open **awesome-typescript-loader/dist.babel/instance.js**, if you use without babel open **awesome-typescript-loader/dist/instance.js**

Find line:
```resolver = deps_1.createResolver(compiler.options.externals, state.options.exclude || [], watching.compiler.resolvers.normal.resolve);```

Replace with
[code]

[2016-03-29 19:47] s-panferov commented on #99
@Ciantic 	thanks a lot for your investigation! I'll fix everything tomorrow morning (GMT+3).

[2016-03-29 21:39] akasapu2985 commented on #105
I see that the d.ts files are generated but one for each file.. how can I get a single declaration file for all the code.

[2016-03-30 10:15] lightning18 commented on #94
That should be in the README :smiley:

[2016-03-30 17:43] s-panferov commented on #99
Please try v0.17.0-rc.4

[2016-04-03 13:05] Ciantic commented on #99
Now I'm getting a different error:

[code]

This happens when changing a file and live reload triggers, not on the first run.

[2016-04-03 13:26] Ciantic commented on #99
It's working! I just had to uninstall my version it was conflicting somehow.
 Thanks for fixing!

[2016-04-03 15:02] Ciantic commented on #99
@s-panferov I made a simple repo: https://github.com/Ciantic/webpack2-awesome-typescript-bug-repro if you want to try the new error `Error: this.doResolve is not a function` in rc4.

[2016-04-04 08:12] s-panferov commented on #99
@Ciantic thanks again. Your repo helped a lot. Please try v0.17.0-rc.5

[2016-04-04 12:23] Ciantic commented on #99
It works now, thank you!

[2016-04-04 12:28] #99 closed

[2016-04-04 16:33] unindented opened #114 "How to combine with json-loader?"
My Webpack config looks like this:

[code]

When I try to load a JSON file like this:

[code]

It will complain with something like:

[code]

The file is definitely there, so it looks to me like the TypeScript interpreter is trying to load the file, instead of Webpack processing it.

Any advice?

[2016-04-04 17:24] Ciantic commented on #114
Did you try "tsc" the normal TypeScript compiler? Is it giving errors?

[2016-04-04 17:31] unindented commented on #114
Aha, using the old `require` syntax does work.

[2016-04-05 22:07] zwhitchcox opened #115 "Can't use `escape`"
Getting an error when using [escape](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/escape) which is a function in javascript

It says `Cannot find name 'escape'`.

[2016-04-06 05:34] s-panferov commented on #115
@zwhitchcox hello. This is not the loader's issue, because there is no `escape` function in typescript's [lib.d.ts](https://github.com/Microsoft/TypeScript/blob/master/lib/lib.d.ts) file. I believe it's because of deprecation and vendor nature of the function.

If you really want to use it, you can create `.d.ts` file and define it like that:

[code]

[2016-04-06 05:34] #115 closed

[2016-04-06 13:01] zwhitchcox commented on #115
Oh ok. I didn't realize it had been deprecated.

[2016-04-06 13:52] TheLarkInn commented on #94
Would you be willing to expand more on 'first-class integration with Babel'

[2016-04-06 14:07] s-panferov commented on #94
@TheLarkInn when `useBabel` and `useCache` flags enabled, typescript emit will be transplied with Babel and cached. So next time if source file (+environment) has the same checksum we can totally skip typescript's and babel's transpiling. This significantly reduces build time.

[2016-04-06 16:44] AndreyUtka opened #116 "Duplicated errors"
After switching from ts-loader to awesome-typescript-loader, I noticed that if I've some error in my code - I'll see duplicated errors in console.

For example - https://github.com/AndreyUtka/angular-typescript-starter-kit - if you run it, and make some error:

[code]

terminal show duplicated errors. With the same configuration with ts-loader - everything is ok

awesome-typescript-loader:

![2016

[2016-04-08 13:28] s-panferov commented on #116
@AndreyUtka hello, sorry for the delay with answer. I'll check this.

[2016-04-08 13:31] s-panferov commented on #114
@unindented sorry for the delay. This is not the loader's issue. When you use `import from` syntax, TS compiler wants to know the shape of the module. It doesn't know the shape, so it fails. This can be fixed by writing a declaration in one of `.d.ts` files. Or just by using pure `require` call.

[2016-04-08 13:31] #114 closed

[2016-04-08 14:31] unindented commented on #114
@s-panferov but the error I got was "Could not find file: '.../yammer-normalizr/test/fixtures/feed_v1_next_page_expected.json'". That sounds like `tsc` is the one trying to load the JSON file, and not Webpack with its loaders?

[2016-04-09 13:17] buzinas opened #117 "Usage with Hot Module Replacement"
**TL;DR**
I am trying to use this (or any other) typescript loader combined with vanilla's Webpack HMR, but I'm stuck with the method `hot.module.accept`. It seems that TypeScript modules don't play well with it.

---

I spent many hours on this, but still couldn't figure out what's going on (although I think I'm really close).

I was trying to implement HMR in a TS project I have, and wasn't adva

[2016-04-09 15:16] buzinas commented on #117
Guys, I finally could solve the problem! :dancers:

Firstly, the problem was happening because since there is no `.hot` in `module`, TypeScript was throwing errors, and then I started using `module['hot']`.

Webpack HMR has a transformer which looks for `module.hot` exactly, so it was never changing the `moduleId` parameter sent to the `accept` method.

I fixed that by creating a `.d.ts` file with

[2016-04-09 15:16] #117 closed

[2016-04-09 18:30] olmobrutall opened #118 "Speed issues"
Hi @s-panferov and company,

I've been struggling recently improving the build time of a mid-big application using typescript + react + webpack.

This are my main dependencies:

[code]
1. With `main` commented-out webpack takes only **3.9s** to compile the dependencies.
2. Running `tsc  --outFile` takes **6s**  to compile and bundle my code.
3. So I was expecting `ts-loader` and `awesome-typescrip

[2016-04-09 20:34] s-panferov commented on #118
@olmobrutall could you please show your tsconfig?

Another questions:

1) Do you have `exclude` directive in you `tsconfig.json`?
2) Do you have sourceMap enabled? What kind of [`devtool`](https://webpack.github.io/docs/configuration.html#devtool) is enabled in your webpack?
3) What version of TypeScript are you using?
4) What version of NodeJS are you using?

[2016-04-09 20:47] olmobrutall commented on #118
Hi @s-panferov,

Thanks for your answer:

[code]

1) I'll try, but this should affect the **typescript only** case as well. Shouldn't it?
2) I've  `devtool: false`, that produces the same result as doing nothing at all. I've tried enabling it and then takes much longer (like **1 min** or so)
3) `tsc -v` **1.8.7**
4) `node -v`  **v4.2.6**

[2016-04-09 20:54] s-panferov commented on #118
1) TSC behavior is different. If it sees `files` section in you tsconfig file, it doesn't try to search for them on file system. The loader has slightly different behavior, it will search anyway.

[2016-04-09 20:56] s-panferov commented on #118
@olmobrutall could you please also share your `tsconfig.json`?

[2016-04-09 20:59] s-panferov opened #119 "Use dependency graph to reduce resolves"

[2016-04-09 20:59] olmobrutall commented on #118
I've updated to TS 1.8.9 and now it looks a little bit faster **32s**, then i changed back to 1.8.7 and still **32s** so maybe is unrelated.

Then I've checked tsconfig.json:

[code]

So `exclude` is already set.
I've tried to set `sourceMap` to false and then I get error:

[code]

[2016-04-09 21:00] s-panferov commented on #118
@olmobrutall is your source code public? Could you please share or send it somehow?

[2016-04-09 21:01] olmobrutall commented on #118
Is this proyect: https://github.com/signumsoftware/southwind

[2016-04-09 21:04] olmobrutall commented on #118
Its big, actually in this branch and folder: https://github.com/signumsoftware/southwind/tree/React/Southwind.React and most of the code is in git-submodules:

https://github.com/signumsoftware/framework/tree/8c67e5b7fc2e7cc1b72a5744af4463739ec6ca84/Signum.React

https://github.com/signumsoftware/extensions/tree/f4bce50a28816fff7ab27ae42eeabce4f2d8bbdb/Signum.React.Extensions

[2016-04-09 21:05] olmobrutall commented on #118
It's a Framework and a sample application that will be cloned (http://www.signumsoftware.com/en/DuplicateApplication), that's why I want to optimize the experience so much

[2016-04-09 21:11] olmobrutall commented on #118
Also **33s** with
[code]

[2016-04-09 21:14] s-panferov commented on #118
@olmobrutall thanks, I'll try to debug it tomorrow (I have GMT+3 timezone).

[2016-04-09 21:15] olmobrutall commented on #118
Sure, I appreciate your help. If you need anything I'm in gitter / skype with the same name

[2016-04-10 10:11] olmobrutall commented on #118
As recomended by @Den-dp (https://gitter.im/s-panferov/awesome-typescript-loader?at=57097c05afe21a92130d167c)

* I've tried using `ForkCheckerPlugin`. In the description looks similar to `transpileOnly` feature of `ts-loader` but there where no speed changes.

* I tried calling `webpack --profile --display-modules` and I'm not able to interpret the results. I can paste it but without colors are ve

[2016-04-12 07:44] krtr opened #120 "Is there any way to pass typescript options to loader from webpack config?"

[2016-04-12 08:40] s-panferov commented on #120
@krtr sure, just pass them in loader's query string with the same names as in `tsconfig.json`.

[2016-04-12 09:00] krtr commented on #120
ty

[2016-04-12 09:00] #120 closed

[2016-04-12 22:48] AlanFoster opened #121 "Only one instance of babel-polyfill is allowed"
Naively attempting to switch out `babel-loader` with `awesome-typescript-loader` within webpack throws the following babel-polyfill error

[code]

With the following webpack snippet

[code]

[2016-04-13 13:49] mjaneczek opened #122 "Any way to preprocess a file before compilation?"
Hello!

Let's say that I have a file:
[code]

Now I want to add ```console.log('wtf');``` by the end of the file before the compilation process (ts->js).

[code]

Is it achievable? I am looking for a callback or something.
Thanks!

[2016-04-13 19:13] TheLarkInn opened #123 "Chaining custom loaders to awesome-typescript-loader doesn't seem to check the chained results"
I have created a custom loader to convert `import` statements to `require()` statements so I can continue to use imports, while allowing typescript to not error for using them on non .ts/.js files:

### Custom Loader:
[code]

I wanted to run this loader first before `awesome-typescript-loader` compiles the files which have already been 'modified' by my custom loader. I have implemented it like thi

[2016-04-14 07:49] s-panferov commented on #123
@TheLarkInn please try `useWebpackText` option. Does it help?

[2016-04-14 07:54] s-panferov commented on #122
@mjaneczek webpack already has mechanism called `loaders`, which allow to do exactly what you want.

[2016-04-14 07:55] s-panferov commented on #122
Don't forget to enable `useWebpackText` option in `awesome-typescript-loader`, it you want to prepend it with another loader.

[2016-04-14 10:24] mjaneczek commented on #122
@s-panferov The option useWebpackText helped.

Thanks! :)

[2016-04-14 10:24] #122 closed

[2016-04-15 18:04] admmasters commented on #94
I'm wondering whether this should be closed as imho its not really an issue. :-p

[2016-04-18 12:53] TheLarkInn commented on #123
@s-panferov it worked successfully. Before you close this, do you think you could discuss why this fixed the problem. I just want to understand what the property does.

[2016-04-19 08:24] NoNameProvided opened #124 "Can't resolve file properly"
With `webpack ^2.1.0-beta.5`, `webpack-dev-server ^2.0.0-beta` and `awesome-typescript-loader 0.17.0-rc.6` I got module resolve errors, it seems atl cant find the modules if its referenced from the webpack root like `app/components/myComponent/myComponent.component.ts` adding the full location like `/User/username/dev/project/app/components/myComponent/myComponent.component.ts` works tho.

This is

[2016-04-19 08:41] s-panferov commented on #124
@NoNameProvided

Hello, why do you expect paths like `app/components/myComponent/myComponent.component.ts` to resolve? If you're using `moduleResolution: 'node'`, you need to use relative paths.

Could you please provide:

1) Your TS version
2) `tsconfig.json` file
3) webpack.config.js
3) webpack's output

[2016-04-19 11:31] aspirisen opened #125 "Error is occured if tsconfig has "sourceMap": false"
Hi, i have met strange error
`ERROR in [default]
Option 'sourceRoot' cannot be specified without specifying option 'sourceMap'.`

And during small investigation i have noticed that it is because of `"sourceMap": false` in my tsconfig.json, if i remove this line everything will work fine. I attached [example.zip](https://github.com/s-panferov/awesome-typescript-loader/files/225766/example.zip)

[2016-04-19 11:32] aspirisen commented on #98
I can't check it because i have another configuration now but your answer seems to be true

[2016-04-19 11:57] s-panferov commented on #125
@aspirisen thanks, I'll try to fix this soon.

[2016-04-20 11:02] aspirisen opened #126 "Issue with usePrecompiledFiles and outDir"
It seems that the loader doesn't use precompiled files if `tsconfig.json` has `outDir` option. I have noticed it when i removed this property in `tsconfig.json`. With `"outDir": "./dist/"` average speed is about 600ms and without this property is about 300ms.

[2016-04-20 11:10] dsebastien commented on #121
We have the same issue and it's quite difficult to troubleshoot. @AlanFoster have you found anything?

[2016-04-20 15:04] drywolf commented on #121
I had the same issue and am still having it when I try to enable `awesome-typescript-loader` in my webpack config.
To get back to work I switched back to [ts-loader](https://github.com/TypeStrong/ts-loader) which does not show that problem at all.

[2016-04-20 15:25] nik-kor opened #127 "ts-loader by TypeStrong"
Hi!

I have a question about https://github.com/TypeStrong/ts-loader .
It looks like your loader has more features than the previous one.  But they have a huge amount of tests.

Can you compare these loaders? Which one is better to use and why?

[2016-04-20 15:39] s-panferov commented on #127
@nik-kor please see #94

[2016-04-20 16:34] nik-kor commented on #127
Ok. It really should be in readme)

[2016-04-20 16:34] #127 closed

[2016-04-21 06:08] s-panferov commented on #123
@TheLarkInn loader uses it's own dependency resolution to create dependency graph of TS files. This requires to load files from file system. Loader passes all the files into typescript's `createProgram` at early stages. The assumption here is that webpack will bring the same file to loader, so we can just don't use it and don't update typescript's `program` (it can be costly). `useWebpackText ` sa

[2016-04-21 06:17] s-panferov commented on #94
Moved to README. Thanks for all!

[2016-04-21 06:17] #94 closed

[2016-04-21 07:29] s-panferov commented on #125
@aspirisen, this should be fixed in @0.17.0-rc.7

[2016-04-21 07:35] s-panferov commented on #121
As I can see, this issue appears when two different libraries require two different versions of `babel-polyfill`. It's hard to do something with this, unfortunately :(

I can offer you one hacky and ugly solution, but I believe it will work:

[code]

I'll think about how to make it better.

[2016-04-21 09:01] drywolf commented on #121
Hi @s-panferov

Thanks for looking into it.

I just tried out the new version `0.17.0-rc.7` and the mentioned loader string `'awesome-typescript-loader/dist.babel/index'`, but I get the following error when running webpack:

    Module build failed: ReferenceError: regeneratorRuntime is not defined
        at Object.loader (c:\_some_path_\node_modules\awesome-typescript-loader\dist.babel\index.js:

[2016-04-21 09:08] Systho opened #128 "Format line numbers in an editor friendly way when checking types"
Would it be possible to format the type check warnings in an editor friendly way ?

I think the line responsible for doing this is that one : https://github.com/s-panferov/awesome-typescript-loader/blob/73f575d0c448a0f19a5da542220fe905c07e4674/src/checker-runtime.ts#L239

I've tried the following change and now I can jump directly to the correct line in my editors (jetbrains, sublime and atom )

[

[2016-04-21 09:12] drywolf commented on #121
I just patched my dist.babel/index.js files (in both modules) manually with the following code:

[code]

This works around the issue for me, not sure if it's a good idea but so far it seems to work just fine.

[2016-04-21 09:14] s-panferov commented on #121
@drywolf your solution is good, but another library may be included afterwards and throw, because `require('babel-polyfill');` had been included already.

[2016-04-22 17:03] aspirisen opened #129 "Error: The only supported extensions are '.ts', '.tsx', '.d.ts'"
Hi, i have strange error in watch mode:
`ERROR in [default]
File '<some file path>.js' has unsupported extension. The only supported extensions are '.ts', '.tsx', '.d.ts'.`

But i can't give some example of the error because it is highly depend on my dev environment:

1. On backend we have C#
2. We have definition generating from server ViewModels
3. We have Gulp to run tasks from Visual Studio
4.

[2016-04-23 21:07] AndreyUtka commented on #116
@s-panferov after small investigation I find that it happens in 'after-compile' event in webpack compile lifecycle. I tried to skip this process:

[code]
and it helps.

[2016-04-24 06:46] #125 closed

[2016-04-24 06:46] #123 closed

[2016-04-24 06:47] s-panferov commented on #128
@Systho 	thanks, I'll change this

[2016-04-24 06:47] TheLarkInn commented on #123
Thank you so much great explanation.

[2016-04-24 07:20] s-panferov commented on #129
Should be fixed in v0.17.0.

[2016-04-24 07:20] s-panferov commented on #128
Should be fixed in v0.17.0.

[2016-04-24 07:20] s-panferov commented on #116
Should be fixed in v0.17.0.

[2016-04-24 07:24] s-panferov commented on #126
@aspirisen I'd made some investigation but right now I can't find the reason why `outDir` might affect `usePrecompiledFiles`. I'll try to create a sample project.

[2016-04-24 08:03] s-panferov commented on #118
@olmobrutall sorry for the delay, I've tried to debug several times but without any success for now.

But I think I've found the origin of the error: when a file requires with this construction

[code]

It takes a long time for webpack to compile it. I'll try to continue the investigation.

[2016-04-24 08:45] s-panferov commented on #118
@olmobrutall yes, I think I finally understand what is going on, fix is on the way.

[2016-04-24 10:41] s-panferov commented on #118
@olmobrutall please try version `0.18.0-rc.0`. It is published on npm with `next` tag.

[2016-04-24 10:44] s-panferov commented on #118
I need to go afk right now, but later I will write detailed explanation about the issue.

[2016-04-24 12:29] aspirisen commented on #129
It works! Great thanks

[2016-04-24 13:54] messo commented on #129
I also had the same issue (when I've updated a js file the awesome-typescript-loader wanted to parse it), and now it's gone. Thanks!

[2016-04-24 14:09] olmobrutall commented on #118
Hi again!

I was suspecting something like this, that's why I tried using sync `require` instead but there were no important differences.

I've run the benchmark again, now with a little bit more code. Here are the results.

![image](https://cloud.githubusercontent.com/assets/720953/14768057/bb218b60-0a36-11e6-8ae1-3034b157a817.png)

* there is a real improvement of around 16s using the new versio

[2016-04-24 14:25] #129 closed

[2016-04-24 16:22] s-panferov commented on #118
@olmobrutall on your example codebase right now I have `10714ms build modules` and total time `14185ms`.

Could you publish your updated database?

[2016-04-24 16:54] olmobrutall commented on #118
The latest version of southwind in React branch and Southwind.React folder is what I'm using.

just enable awesome-typescript-loader in webpack.config.

Could you try any other combination to check of the differences are not due to he computer? Mine is a i7 16Gb with SSD so you could not be so much better.

[2016-04-24 17:07] s-panferov commented on #118
@olmobrutall what version of NodeJS are you using?

[2016-04-24 17:11] s-panferov commented on #118
And the second question, what is your OS?

[2016-04-24 17:12] olmobrutall commented on #118
Node v4.4. Maybe is that?

 I had a problem with 5 but maybe is gone now

[2016-04-24 17:12] olmobrutall commented on #118
Windows 10

[2016-04-24 17:22] s-panferov commented on #118
@olmobrutall I'm using Mac Book 2,5 GHz Intel Core i7 with SSD, OSX operation system. I'll try to debug on Windows tomorrow, maybe I'll see the gap.

[2016-04-24 17:24] olmobrutall commented on #118
I'll try with node 5 when I'm at home. Thanks a lot for tie help!!

[2016-04-24 18:36] olmobrutall commented on #118
No differences with Node 5:

![image](https://cloud.githubusercontent.com/assets/720953/14769600/2dd22118-0a5c-11e6-8d44-88d2c5942c03.png)

[2016-04-27 08:46] AndreyUtka commented on #116
thanks a lot)  I checked it in my project. everything is ok 👍

[2016-04-27 08:46] #116 closed

[2016-04-29 13:09] raybooysen opened #130 "Error : Emit skipped followed by no Typescript error"
In some cases, and I can't figure out why, when we have a syntax error where Typescript cannot compile the code, the loader will output something like the stack trace below but not include the typescript error itself.  I then have to run Typescript: `tsc` and Typescript will show me the actual error.

Any reason why the loader won't show the typescript error?

Typescript output:
[code]

Typescript

[2016-05-02 11:32] galtalmor opened #131 "crypto.createCredentials and crypto.Credentials are deprecated"
I've Upgraded from version 0.16.2 to 0.17.0 and since the upgrade I see the following message:
[code]

Did I miss something that was required before upgrading?
Thanks.

[2016-05-02 11:49] s-panferov commented on #131
Hello @galtalmor, which node version are you using?

[2016-05-02 11:51] galtalmor commented on #131
@s-panferov v4.2.2

[2016-05-02 11:51] raybooysen commented on #131
I see the same issue with node 5
On 2 May 2016 12:49, "Stanislav Panferov" <notifications@github.com> wrote:

[2016-05-02 11:55] s-panferov commented on #131
Thanks, I'll try to fix this.

[2016-05-05 09:33] TomaszScisloGS commented on #131
Same for me in Node 5.1.0

[2016-05-06 09:27] andrew-w-ross commented on #105
@akasapu2985 Looks like the files have to be separate or the declaration becomes ambient. So you would have to reference your "entry point" declaration file in your typings field in the package.json.

@s-panferov After going through some testing your current solution seems like the best. As I mentioned to @akasapu2985 to roll this up into a single declaration file makes the declaration ambient and

[2016-05-06 10:10] s-panferov commented on #105
@andrew-w-ross you're right, declaration "squashing" is not a trivial thing and I think it can only be implemented on TS side.

I don't have any libraries that require declaration generation, so I'm waiting for some real-world feedback about the feature.

[2016-05-09 12:43] messo commented on #121
Hey!

I am making a multi-module structure, and both module needs to have `awesome-typescript-loader` (the parent has the webpack.config.js, and the child itself is composed of typescript files)

I am experiencing the same issue, what do you recommend?

[2016-05-09 22:04] drywolf commented on #112
Hi, I am trying to use ES6 generator syntax with function* & yield, but I get the following error:

	ERROR in ./src/index.tsx
	Module build failed: SyntaxError: c:/code/test-app/src/index.tsx: Unexpected token (37:18)
				pre = cur;
				cur += temp;
				yield cur;
			}
		},
		_a
		at Parser.pp.raise (c:\code\LxGit-upstream\ipp-project\apps\ipp-app\node_modules\babylon\lib\parser\location.js:24:13)

[2016-05-10 14:42] messo opened #132 "Build errors with `npm link` dependencies"
I have the following two modules:

* `@my/core` module: has dependencies to actual 3rd party libs
* `@my/bundle` module: has dependency to `@my/core`, and `devDependencies` to `webpack`, loaders, etc.

When I publish `@my/core` to internal npm repo, and I do `npm install` for `@my/bundle` then
`$ webpack`
builds without error. Perfect!

Once I do `npm link` in the `@my/core` module, and I _replace

[2016-05-10 14:57] s-panferov commented on #132
@messo you should try to add `resolve` and `resolveLoader` sections to your webpack config:

https://webpack.github.io/docs/configuration.html#resolve
https://webpack.github.io/docs/configuration.html#resolveloader

And specify `root` and `fallback` properties for both. Something like:

resolve: {
           root: [
                path.join(__dirname, "node_modules")
           ],
           fall

[2016-05-10 19:01] messo commented on #132
@s-panferov thank you very much! You've just saved my day :)
Actually I had this in my webpack.default.conf.js:

[code]

Because of the `npm link`, and the way the folders are structured (`core` and `bundle` are siblings in the root directory), the referenced modules in `core` couldn't be found (which are in `bundle/node_modules`), but adding:

[code]

solves the problem. Thank you! And sorry for

[2016-05-10 19:01] #132 closed

[2016-05-11 11:43] drywolf opened #133 "ES6 generator syntax (yield & function*)"
Hi, I am trying to use ES6 generator syntax with function* & yield, but I get the following error:

	ERROR in ./src/index.tsx
	Module build failed: SyntaxError: c:/code/test-app/src/index.tsx: Unexpected token (37:18)
				pre = cur;
				cur += temp;
				yield cur;
			}
		},
		_a
		at Parser.pp.raise (c:\code\test-app\node_modules\babylon\lib\parser\location.js:24:13)
		at Parser.pp.unexpected (c:\

[2016-05-11 16:08] Heymdall opened #134 ""TypeError: Path must be a string" on nodejs 6 with no tsconfig"
For projects without tsconfig file awesome-typescript-loader is broken on nodejs 6. Seems like it trying to find correct outdir using config file path. But when there is no config `path.dirname(undefined)` will return `'.'` on node 5 and throw an error on node 6. It can be fixed by adding default value [here](https://github.com/s-panferov/awesome-typescript-loader/blob/master/src/instance.ts#L156)

[2016-05-11 20:21] jtrinklein commented on #131
occurs in 4.2.4 as well

[2016-05-12 10:22] yaroslavya opened #135 "Duplicate identifier error"
Im trying to switch from ts-loader to the awesome-typescript-loader.
I did the following: npm install awesome-typescript-loder --save-dev
Then in my webpack config I imported the ForkCheckerplugin like that:
`var ForkCheckerPlugin = require('awesome-typescript-loader').ForkCheckerPlugin;`
And changed the ts-loader configuration to the following:
`
{
        test: /\.ts$/,
        loader: 'awesome-

[2016-05-12 22:17] drywolf commented on #133
After some hours of debugging webpack, babel and awesome-typescript-loader I was able to come up with a solution that allows me to use the ES6 features that I was looking for (async/await & generators/yield syntax) in combination with TypeScript & React.js

A sample of some test code and the general build configs can be found at this repository: [typescript-webpack-generator-sample](https://github

[2016-05-13 08:25] s-panferov commented on #131
This weird issue is because of babel's require interop, which transpiles this:

[code]

into `interopRequireWildcard(require('crypto')` call, which iterates through `crypto`'s properties.

[2016-05-13 08:32] #128 closed

[2016-05-13 08:32] #124 closed

[2016-05-13 08:39] s-panferov commented on #134
Fixed in v0.18.0, please try.

[2016-05-13 08:40] s-panferov commented on #131
Fixed in v0.18.0, please try.

[2016-05-13 08:41] s-panferov commented on #121
Require guard added in v0.18.0, please try.

[2016-05-13 08:42] s-panferov commented on #133
Require guard added in v0.18.0, so you don't need `fixes\awesome-typescript-loader` anymore. Please try.

[2016-05-13 08:48] Heymdall commented on #134
Thanks, it's working!

[2016-05-13 08:48] #134 closed

[2016-05-13 17:02] messo commented on #121
works for me! Thanks!

[2016-05-15 08:14] galtalmor commented on #131
It seems like you fixed it.
Can you publish v0.18.0 on npm please?
Cheers.

[2016-05-15 09:35] s-panferov commented on #131
@galtalmor it's already published in `next` tag.

[2016-05-15 10:50] galtalmor commented on #131
:+1:
Thanks.

[2016-05-15 10:50] #131 closed

[2016-05-15 11:03] galtalmor opened #137 "Const enum are preserved and not replaced with actual values"
There was a change in the behavior of const enum compilation between v0.16.2 and v0.18.0.
Before upgrading my const enum values were replaced with the actual value.
Now they keep the variable name, which results in me not being able to access them from external module.
I tried to change preserveConstEnums in tsconfig.json, but nothing helps.

For example:
[code]

Results in:
[code]

Previously res

[2016-05-16 20:45] texastoland opened #139 "Deprecation warnings fixed by 0.18.0?"
Just posting because I couldn't google it. Following commands yield a warning:

[code]

`npm i awesome-typescript-loader@next` fixed it.

[2016-05-16 21:16] texastoland opened #140 "dist breaks color.js's String.prototype.bold"
I can't figure out how but requiring this package causes `string.bold` to return empty.

[code]

[2016-05-17 00:05] AppShipIt commented on #139
Reopening in case you don't know 0.18 is still `next`.

[2016-05-18 00:36] texastoland opened #141 "rewriteImports in README"
Appears to have been removed from `deps.ts`. Also referenced in `weback.backend.config.ts`.

[2016-05-18 08:42] waeljammal opened #142 "Please make ForkCheckerPlugin accept a callback"
It would be nice if ForkCheckerPlugin could accept a callback that is invoked whenever it's done checking.

In my use case I would like to run my linting after the fork checked is done as ts-lint loader is just slow as hell on a large project and I want to run ts lint in a separate process.

[2016-05-20 07:43] dsebastien opened #143 "0.18.0 not published to npm"
Hi,

Could you publish 0.18.0 to npm?

[2016-05-20 19:34] s-panferov commented on #143
It's already published on npm in "next tag" because there are some unstable changes and I want it to be tested some more time.

[2016-05-20 19:34] s-panferov commented on #143
It's already published on npm in "next tag" because there are some unstable changes and I want it to be tested some more time.

[2016-05-20 19:34] s-panferov commented on #143
It's already published on npm in "next tag" because there are some unstable changes and I want it to be tested some more time.

[2016-05-20 22:41] dsebastien commented on #143
I noticed thanks to a comment on another issue! That's good enough for me now; I'll open an issue if I find something wrong (nothing so far). Thanks!

[2016-05-20 22:41] #143 closed

[2016-05-21 13:25] TheLarkInn opened #145 "Support for additional plugins to be added/tied for code-gen, framework compilation"
Currently frameworks are starting to extract their runtime compilation code and extracting it out to be ran as a build step. Angulars Compiler-CLI is an example. It would be awesome to have exposure to different add, remove, read, write, lifecycle hooks inside of `awesome-typescript-loader`'s implementation of 'ts.LanguageService'.

The Angular compiler CLI as an example does the following:
• acce

[2016-05-21 16:49] Truedrog opened #146 "css module/ importing css files in tsx or ts files"
I am trying to make css-modules and typescript to work together with webpack.

So i have this file
`
import * as styles from './styles.css';
`
which throwing an error about not found module.
Ok. After some googling i've found this project https://github.com/Quramy/typed-css-modules
so i created my styles.d.ts and tried to build, but got this error:
ERROR in [default]
File '/Users/~/Sites/webpack-s

[2016-05-21 16:56] Truedrog commented on #146
Forgot to mention that typed css modules approach is working in ts-loader.

[2016-05-21 18:21] s-panferov commented on #146
Please show your webpack.config.json

[2016-05-22 05:24] Truedrog commented on #146
@s-panferov this is the part where loader is used
[code]

[2016-05-22 19:28] nomaed commented on #146
Do you need to have the css content be assigned to a variable?
I am using `import './somefile.css';` or `require('somefile.css');` and that's it, and it works great.

I am getting the same error that you see when trying to import anything that's not a js/ts file and assign it to a variable. For these cases, I have to use require() for webpack to handle the dependency, instead of typescript.
For ex

[2016-05-22 21:06] Truedrog commented on #146
I did use `let styles = require<any>('./styles.css');`
This is ok for compiler and vscode, no errors.

The problem is that I got runtime error from awesome-typescript-loader when the script is running.
Ts-loader is working fine.

[2016-05-23 04:45] nomaed commented on #146
I see. I am not using it inline but extracting all css files to a css bundle file, so that's not an issue for me.

[2016-05-23 19:51] Truedrog commented on #146
Looks like my problem is gone. Don't really know why. Maybe because I refined my tsconfig file:

``module:commonjs`` // was missing.

Closing.

[2016-05-23 19:51] #146 closed

[2016-05-23 23:22] guncha opened #147 "AllowJs compiler option causes a crash with Error: ENOENT: no such file or directory, open 'fs'"
I'm seeing the latest awesome-typescript-loader crash when the allowJs compiler option is turned on and when trying to import a Node module like `fs`.

Input file:

[code]

tsconfig.json:

[code]

webpack.config.js:

[code]

Crashes with:
[code]

Here's a full repro: https://github.com/guncha/awesome-typescript-issue

[2016-05-25 23:44] AppShipIt opened #148 "ignoreDiagnostics like ts-loader"
Is there any way to do https://github.com/TypeStrong/ts-loader#ignorediagnostics-number-default?

[2016-05-30 15:23] Truedrog opened #149 "Error with jsx spread."
I have a problem with jsx spread when i trying to do this:

[code]
i got this error:

[code]
The generated code:
[code]
That's __assign method is missing...

My tsconfig is:
[code]
webpack config:
[code]

[2016-06-04 01:57] rob-bateman opened #151 "modulesError: Couldn't find preset "es2015-webpack" relative to directory"
at present, there seems to be no way to define a root for presets on babel.

If you have a setup that requires defining `root: path.join(__dirname, 'node_modules')` in resolveLoader for compatibilty symlinking when symlinking modules, it is currently not possible to point babel to the correct root to find the es2015-webpack preset.

There is a workaround for this setup when [using babel-loader](ht

[2016-06-04 14:59] TheLarkInn commented on #145
@s-panferov

The Offline Template compiler for angular is using `ts.CompilerHost` which implements slightly different implementation than `ts.LanguageServiceHost`. Do you think this plugin can expose an API that would allow one to provide `Host` as a `ts.CompilerHost` also? Or at the least expose, `Program`, `Host`, and `State`.

[2016-06-05 08:33] s-panferov commented on #151
@rob-bateman can you suggest what we need to change in `awesome-typescript-loader`?

There is already loader's option called `babelOptions`, can you use it to provide this setup?

[2016-06-05 08:38] #148 closed

[2016-06-05 09:00] s-panferov commented on #147
@guncha sorry for the delay, thanks for the issue. I'll try to take a look soon.

[2016-06-05 09:28] s-panferov commented on #147
I think it should be fixed in `awesome-typescript-loader@0.19.1`, please try.

[2016-06-05 15:38] guncha commented on #147
Awesome, works like a charm!! I appreciate all you work.

[2016-06-05 15:38] #147 closed

[2016-06-06 10:28] oocx opened #152 "declaration files are missing with useCache: true"
When I configure "useCache: true", webpack does not emit Typescript declaration files:
[code]

I get declaration files when I set useCache to false:
[code]

My loader configuration:
[code]

tsconfig.json:
[code]

tsc version: 1.8.10
awesome-typescript-loader: 0.18.0
babel-core: 6.9.1

[2016-06-07 04:32] TheLarkInn opened #153 "Enhancement: Implement Tsickle for Google Closure Compiler"
Currently there is an angular project which I think could benefit all Typescript users.

As we all know, Google closure compiler is still the most efficient minifier, however requires annotations for it to be used in ADVANCED mode.

https://github.com/angular/tsickle

This project is using a baked tsc that automagically converts decorators and types to annotations that allow for GCC to understand.

[2016-06-07 07:22] s-panferov commented on #153
@TheLarkInn do you have any concerns about just using additional loader such as `https://www.npmjs.com/package/webpack-closure-compiler` or any analog?

[2016-06-07 07:23] s-panferov commented on #152
Thanks for your report, I'll take a look.

[2016-06-07 07:24] s-panferov commented on #145
@TheLarkInn I think that I will have some time tomorrow to finally implement this. I'll try to share as fast as possible.

[2016-06-07 12:05] tomforster opened #154 "Compile errors not being output during watch if the bundle was not updated by the change."
E.g. When you are running webpack --watch --progress

Change the line:
`let foo:number = 2;`
to:
`let foo:string = 2;`

A file change will be detected, and an incremental build will be started. You would expect an error to be shown in the terminal; however, no error is output. I imagine this is related to the fact that this change would not change the underlying javascript and hence cause the cont

[2016-06-07 12:19] TheLarkInn commented on #153
@s-panferov not at all. I'm using it currently anyways minification over UglifyJsPlugin in SIMPLE mode.

[2016-06-07 12:42] TheLarkInn commented on #145
No worries!! I suppose also this can help with https://github.com/s-panferov/awesome-typescript-loader/issues/153 if you didn't want to implement it out if the box.

Being able to 'decorate' the LanguageServiceHost  with a CompilerHost well be really awesome.

Thank you for all the hard work.

[2016-06-08 06:19] s-panferov commented on #154
@tomforster hmm, compiler checks run regardless of bundle changes. I will investigate this. Could you please provide more information about your setup?

[2016-06-08 07:26] s-panferov commented on #154
@tomforster I've added a regression test on this:

https://github.com/s-panferov/awesome-typescript-loader/blob/master/src/test/watch-type-errors.ts#L34

And travis says that [everything is fine](https://travis-ci.org/s-panferov/awesome-typescript-loader/builds/136066383). So please provide some info about your setup:

- webpack.config.js
- webpack version
- loader version
- tsconfig.json
- OS
- m

[2016-06-08 08:29] tomforster commented on #154
Firstly, thanks for looking into this. I have attempted to narrow it down and it seems to happen regardless of project structure, even with a minimal clean project with the latest versions of all dependencies.

webpack.config.js:
[code]

webpack version: 1.13.1
loader version: 0.19.0
typescript version: 1.8.10

tsconfig.json: happens with or without
OS: mac osx 10.10.5 Yosemite
minimal code exampl

[2016-06-08 09:16] tomforster commented on #154
I just cloned and ran the tests, and they all pass here. But the issue is persisting, I don't have the best understanding of the test framework used, is it possible that the test is only checking that the compile is performed and an error is raised, rather than the error is being printed to the screen?

[2016-06-08 09:16] s-panferov commented on #154
@tomforster I've successfully reproduced the error. But, unfortunately, the error is not in the loader (where I can fix it), but in [webpack itself](https://github.com/webpack/webpack/issues/2538).

`ts-loader` works because it somehow produces different hash each time (i don't know why and I think this is not good anyway). I'll try to investigate this further.

[2016-06-08 09:32] s-panferov commented on #154
@tomforster ts-loader works because of [this](https://github.com/TypeStrong/ts-loader/blob/master/index.ts#L630), but I'm not sure this is correct solution because it can affect some caching scenarios. I heed to think about it.

To workaround this you may try to use [`forkChecker` option](https://github.com/s-panferov/awesome-typescript-loader#forkchecker-boolean-defaultfalse), which will work reg

[2016-06-08 10:01] tomforster commented on #154
The forkChecker looks like a good fix for now, thanks. I was having some really strange behaviour with ts-loader (random extremely long build stages during a watch) and this project has been a lifesaver, thanks for your hard work.

[2016-06-08 20:08] shiptoncraig opened #155 "Option 'noEmitOnError' cannot be specified with option 'isolatedModules'."
I've found that since 0.18 of awesome-typescript-loader, I'm getting the following error when trying to run a webpack build using TypeScript 1.8.10.

`Module build failed: Error: Debug Failure. False expression: Output generation failed.`

I have a vanilla webpack config:

[code]

with the following TS compiler options:

[code]

Did a little digging and am seeing this error be thrown "Option 'noEm

[2016-06-09 19:05] guncha opened #156 "Support baseUrl and paths resolution as implemented in TS 1.9"
I was trying to use `awesome-typescript-loader` with `typescript@next` to see if I could set it all up to avoid this whole `import {..} from "../../../../../dep` business and it seems like `baseUrl` option solves it, but only when not running through the loader.

When running with the loader, I'm getting an error:

[code]

Does the loader have its own module resolution strategy? If so, can we exte

[2016-06-10 05:52] s-panferov commented on #156
@guncha this error is about webpack and how it resolves modules. Webpack knows nothing about typescript, it uses basic `node-style` module resolution strategy. I need to think about how to connect webpack's resolution config with typescript's one, but right now there is a workaround:

* If you use `baseUrl`: add it to webpack's [resolve.root](https://webpack.github.io/docs/configuration.html#resol

[2016-06-10 09:57] nik-kor commented on #102
hi @s-panferov )
It looks like we have the same problem

[code]

I read all the links here but still haven't got the idea why and how to fix it.

But aren't they absolute?

there is no include settings in webpack.config

[2016-06-10 10:41] s-panferov commented on #102
@nik-kor please share your webpack.config.js.

[2016-06-10 10:45] nik-kor commented on #102
@s-panferov https://gist.github.com/nik-kor/652c85943c3c2e239e6affb909ae5a72
I can make thinner version of it if need - just say

[2016-06-10 18:00] guncha commented on #156
I see, that's very interesting. I had assumed that the loader tells webpack "_hey, add this files as dependencies_", but I guess it's the other way around.

[2016-06-12 11:52] mihe opened #157 "Cannot resolve module 'electron'"
I'm trying to use atl in an Electron application, and I'm getting the following error:

[code]

where `src/main.ts` contains:

[code]

where `[...]/typings/index.d.ts` contains:

[code]

where `[...]/github-electron/index.d.ts` contains:

[code]

and my webpack config contains `target: 'electron-main'`, which seems to do [a bunch of magic](https://github.com/webpack/webpack/blob/314c897682b556845f

[2016-06-12 13:51] s-panferov commented on #157
@mihe, hello, thanks for your report. I think this is a bug, I'll try to fix it soon.

[2016-06-13 15:58] raybooysen opened #158 "Module Build Failed after upgrading to 1.0.0 from 0.17.0"
I've just upgraded to 1.0.0 and seeing this on a build (Using 1.8.10 of TS):

[code]

There is no further information on what caused the error.  Is there a better way to debug this?

[2016-06-13 16:17] s-panferov commented on #158
@raybooysen could you please share your `tsconfig.json` and typescript version?

Do you use `allowJs` option?

[2016-06-13 16:20] raybooysen commented on #158
TS is 1.8.10

allowJS is not specified.

[code]

[2016-06-13 20:26] TheLarkInn commented on #158
Have you tried lowercase "es6" as target?

[2016-06-13 20:31] TheLarkInn opened #159 "lib property not working with latest typescript@next"
I'm not sure if there is even a way to do this. But would it be possible to have a nightly build for a-t-loader that mimics the nightly `typescript@next` builds. It will help developers keep up with changes to typings, use @types and add support for `lib` option in `tsconfig.json`

[2016-06-13 20:33] TheLarkInn commented on #159
I believe the other option is npm link typescript@next?

[2016-06-14 06:39] s-panferov commented on #159
The loader doesn't have a bundled TypeScript, it assumes that you have `typescript` package in your node_modules. Just install `typescript@next` or use [`compiler`](https://github.com/s-panferov/awesome-typescript-loader#compiler-string-defaulttypescript) option.

[2016-06-14 07:40] raybooysen commented on #158
Yes, no difference in the output.

[2016-06-14 13:58] TheLarkInn commented on #159
Thanks for the response! I believe the root of my issue is the new `lib: ['es6', 'dom']` property not working for typescript@next. I'm going to close for now and double check my work.

[2016-06-15 00:50] asvetliakov commented on #159
Just faced the same problem with new lib flag and latest typescript@next.
The problem that typescript throws diagnostic for these compiler parameters when used in transpileModule()
[code]
Workaround is to use different tsconfig.json

[2016-06-15 00:54] TheLarkInn commented on #159
Oh I wonder if it's because you are using `options.library` to create libs @s-panferov imma reopen for right now In case this needs to be tracked

[2016-06-15 01:00] asvetliakov commented on #159
This looks related:
https://github.com/Microsoft/TypeScript/issues/9173

[2016-06-15 05:24] TobiasKrogh opened #160 "Is there a maximal directory depth?"
Hi,

I am still fairly new to webpack and typescript but currently working on a rather big Angular 2 project. I based my work on [angular2-webpack-starter](https://github.com/AngularClass/angular2-webpack-starter) which also makes use of the awesome-typescript-loader and I really like the benefits it has over the ts-loader.

However, updating to any version above `0.17.0` lead to an issue that one

[2016-06-15 05:33] s-panferov commented on #159
Ok, I'll take a look

[2016-06-15 08:20] krzysieki opened #161 "Error "ng is not defined" after upgrading from 0.17.0 to 1.0.0"
I tried to upgrade awesome-typescript-loader (atl) to latest version but encountered error.
Project had compiled correctly and there were no errors in webpack output, but in browser, in console there was an error (and project failed to start):

"Uncaught ReferenceError: ng is not defined"

Project is written in angular 1.5 and ng is an alias for "angular". Typescript version: 1.8.10.

My tsconfig.

[2016-06-15 08:26] rrecaredo commented on #158
I get the same error if I upgrade from 0.17 to 0.18.x/0.19.x

However, after upgrading to 1.0.0, the error changes to:

`ERROR in Unexpected token >`

This is my tsconfig:

`{
  "compilerOptions": {
    "module": "commonjs",
    "target": "es5",
    "noImplicitAny": true,
    "sourceMap" : true,
    "emitDecoratorMetadata"  : true,
    "experimentalDecorators" : true,
    "noEmitHelpers": true,

[2016-06-16 14:41] likerRr opened #162 "Incorrect design type is built for Array<>, starts from 0.18.0"
I have a class where I defined a property such way:
[code]

ATL v0.17.0 produces this code:
![0_17_0](https://cloud.githubusercontent.com/assets/1290558/16120598/b72602e4-33e8-11e6-90eb-b518b9db9259.png)

ATL v0.18.0+ (up to v1) produces this code:
![0_18_0](https://cloud.githubusercontent.com/assets/1290558/16120597/b71d6b02-33e8-11e6-90ef-41494a31741e.png)

What's interesting, that if I define p

[2016-06-16 14:52] s-panferov commented on #162
@likerRr which typescript version do you use?

[2016-06-16 14:53] likerRr commented on #162
@s-panferov sorry, v1.8.10

[2016-06-16 14:57] TobiasKrogh commented on #160
I managed to find out the root cause here so this can be closed 👍

[2016-06-16 14:57] #160 closed

[2016-06-16 19:03] xadhoom opened #163 "Cannot find source file foo.ts"
Hi,

I'm using the primeng npm module but the loader warns about not being able to find any foo.ts, for example:

WARNING in ./~/primeng/primeng.js
Cannot find source file 'primeng.ts': Error: Cannot resolve 'file' or 'directory' ./primeng.ts in /home/matteo/devel/detectino/apps/dt_web/webapp/node_modules/primeng

The npm package has no foo.ts, but only foo.d.ts, then foo.js and foo.js.map

The wa

[2016-06-17 20:13] brianchance opened #164 "Error "Unknown file" after upgrading from 0.17 to 1.1.1 (or 0.18)"
After upgrading, I get 5 of these errors. They all relate to the same package, the files do exist.
`
ERROR in ./~/ng2-toasty/src/toasty.container.ts
Module build failed: Error: Unknown file C:\Code\Sparkle\src\Web\SdrBackofficeWebApp\node_modules\ng2-toasty\src\toasty.container.ts
    at State.fastEmit (C:\Code\Sparkle\src\Web\SdrBackofficeWebApp\node_modules\awesome-typescript-loader\dist.babel\h

[2016-06-17 20:20] brianchance commented on #164
Removed the extra query and exclude from loader call, same result.
`{
                test: /\.ts$/,
                loader: 'awesome-typescript-loader?forkChecker=true'
            }`

[2016-06-19 06:06] gdi2290 commented on #164
related https://github.com/AngularClass/angular2-webpack-starter

[2016-06-19 08:54] t246246 commented on #164
@brianchance
Your `exculde` setting
[code]
means exclude node_modules but node_modules/ng2-xxx.
And when your 2nd trial without exclude setting means exclude nothing.  So both setting does not exclude `node_modules/ng2-toasty/src/toasty.container.ts`

I know nothing about ng2-toasty but suggest to try to exclude ng2-toasty somehow,
as `awesome-typescript-loader` itself works as expected I think.

[2016-06-19 10:58] dtabuenc opened #166 "Intermittent "Unknown file" Error with ts files required from js"
I'm working in a large code base that has been slowly getting migrated to ts. When running webpack with the awesome-typescript-loader I will sporadically get an "Error: Unknown file". This is not deterministic, I may run webpack again immediately after getting this error and it will work. Somehow there seems to be a race condition, where under some circumstances it will not have added the file to

[2016-06-20 07:48] s-panferov commented on #166
@dtabuenc hello,

right now I'm working on the next version of the loader. Could you please try it (`2.0.0-rc.3` right now)? These errors must be solved there.

[2016-06-20 07:49] s-panferov commented on #164
@brianchance hello,

right now I'm working on the next version of the loader. Could you please try it (`2.0.0-rc.3` right now)? These errors must be solved there.

[2016-06-20 07:49] s-panferov commented on #159
@TheLarkInn  hello,

right now I'm working on the next version of the loader. Could you please try it (`2.0.0-rc.3` right now)? These errors must be solved there.

[2016-06-20 07:49] s-panferov commented on #157
@mihe hello,

right now I'm working on the next version of the loader. Could you please try it (`2.0.0-rc.3` right now)? These errors must be solved there.

[2016-06-20 07:55] s-panferov opened #167 "Release 2.0"
* [x] Remove all async code. (better debug, better measuring, no more race conditions, maybe little bit slower)
* [x] Split loader and typescript configuration for better code readability.
* [x] Parse `tsconfig` with TypeScript, as `ts-loader` does.
* [x] Use default TypeScript resolver to resolve modules, because TS team moves fast and it's hard to reflect all the changes they make in module reso

[2016-06-20 08:09] s-panferov commented on #163
@xadhoom  hello,

right now I'm working on the next version of the loader. Could you please try it (`2.0.0-rc.3` right now)? These errors must be solved there.

[2016-06-20 11:18] t246246 opened #168 "upgrading to 2.0.0-rc.3 from 1.1.1 generate errors"
As I have just update to 2.0.0-rc-3, it begin to generate errors. With 1.1.1 no errors at all.

I tried with typescript 1.8.10 and 1.9.0-dev, both generate same errors.
I use webpack.2.1.0-beta.13. Source is [angular hero demo](https://angular.io/resources/live-examples/router/ts/plnkr.html).

@angular/core is 2.0.0-rc2, @angular-router is @3.0.0-alpha.7
[code]

fileNames entry in log is OK, ~~but

[2016-06-20 11:36] s-panferov commented on #168
@t246246 thanks for your request. I wanted to note that `2.0.0` is an experimental version so everything can happen :-) I'll try to debug your case. Could you please put some links to the sources?

[2016-06-20 11:46] t246246 commented on #168
Thank you for your prompt reply. I added the link for plnkr.  That is not webpack one, so I need to add webpack.config above myself.  Also this is for @angular/router-alpha-6 so runtime error occurs if you run it with alpha-7, but anyway it is compile time error, so I think it is not important for now.

[2016-06-20 11:53] niieani commented on #168
HI @s-panferov. I'm getting similar errors related to bad module-resolution.

[code]

...and so on. The same `tsconfig.json` works flawlessly when typechecking is run from within Visual Studio Code or when run with `tsc -p .`.

I'm using: `moduleResolution: "node"` in my tsconfig -- the d.ts which seem to be missing are the ones that should be resolved by TypeScript automatically (non-ambient typi

[2016-06-20 12:01] niieani opened #169 "regeneratorRuntime not defined in ^1.0.0 - (2.0.0 works)"
[code]

This shows up with the default installation of awesome-typescript-loader (not using babel or anything like that).
The error doesn't happen when using the the experimental `2.0.0-rc.3`, but that one doesn't manage to resolve all the modules: https://github.com/s-panferov/awesome-typescript-loader/issues/168#issuecomment-227121835

[2016-06-20 12:12] TheLarkInn commented on #159
@s-panferov sorry was sleeping 😅 I can test this in an hour or so and I'll let you know.

[2016-06-20 12:13] niieani commented on #169
As a workaround, I fixed the problem by adding:
[code]
to the top of my `webpack.config.js` file.

[2016-06-20 12:23] s-panferov commented on #168
@niieani thanks for your report, is your project open-source? Can I see the source-codes?

[2016-06-20 12:23] olegstepura commented on #168
Hi, @s-panferov!

Same here for `moduleResolution: "node"` in `2.0.0-rc.3`:
I use "absolute paths" in my project and get these errors:
[code]
First import is written as
`import { apiMethodList } from './apiMethods'`,
second one:
`import { EntryPoint } from 'common/constant/EntryPoint'`

This should work since I got `"rootDir": "src/main",` in `tsconfig.json`

This all worked with `ts-loader`, just

[2016-06-20 12:27] nickytonline commented on #157
@mihe, the project I'm currently on uses electron and the target we use is `target: 'electron'`, not `target: 'electron-main'` and it works fine with webpack and awesome-typescript-loader.

[2016-06-20 12:30] olegstepura commented on #113
Hi! It's currently unclear from README if `useBabel` makes `awesome-typescript-loader` to apply babel, or if I still need to use chained loaders in webpack. I suggest you to make this clear in README.

So for me it's unclear if I should use this:
[code]
or this:
[code]
if I want to make `typescript -> ES6` with Typescript and later `ES6 -> ECMA2015` with Babel.
I want this to use generators in Typ

[2016-06-20 12:37] niieani commented on #168
@s-panferov The simplest way to reproduce the error is to simply:

1. create a new project, adding `aurelia-framework` as a dependency,
2. making sure you have `moduleResolution: "node"` set in `tsconfig.json`.
3. create a file with `import {inject} from 'aurelia-framework'`.

VSCode and TSC will compile that file without errors, while the loader will complain about missing `aurelia-framework`.

[2016-06-20 12:43] nickytonline commented on #157
@mihe, I just noticed in the code snippet you referenced that they appear to do the same thing. I wasn't aware they they had split it to have `'electron-main'` and `electron-renderer'`.

[2016-06-20 13:00] brianchance commented on #164
@s-panferov - I tried 2.0.0-rc.3 and get different errors about not finding angular and other application files. Still using `{ test: /\.ts$/, loader: 'awesome-typescript-loader?forkChecker=true' }`

My code is throwing -
ERROR in [default] C:/Code/Sparkle/src/Web/SdrBackofficeWebApp/client/app/app.component.ts:1:27
Cannot find module '@angular/core'.

ERROR in [default] C:/Code/Sparkle/src/Web/Sd

[2016-06-20 13:08] brianchance commented on #164
@s-panferov - I went back and tried each release, the initial issue starts when changing from 0.17.0 to 0.18.0.

[2016-06-20 13:09] s-panferov commented on #168
@niieani your case fixed in `v2.0.0-rc.4`.

**Everybody please try `v2.0.0-rc.4`**

[2016-06-20 13:10] s-panferov commented on #164
@brianchance please try `v2.0.0-rc.4`

[2016-06-20 13:17] niieani commented on #168
@s-panferov It's mostly fixed, however there's one more case that doesn't work.
Add a `custom_typing.d.ts` file to my example:

[code]

this still generates an error:

[code]

[2016-06-20 13:20] brianchance commented on #164
@s-panferov same output as 2.0.0-rc.3

[2016-06-20 13:24] olegstepura commented on #168
For me `v2.0.0-rc.4` seem to be the same

[2016-06-20 13:53] brianchance commented on #164
@s-panferov upgrading to angular2 rc2 I ran into some issues so I upgraded typescript to be 1.9.0-dev.20160409. With that typescript and 2.0.0-rc.4 I have the same set of original errors. So not fixed, but same output.

[2016-06-20 14:03] brianchance commented on #164
When I put any exclude on the loader, it emits the second set of errors where it cannot find angular and other imported files
`{
                test: /\.ts$/,
                loader: 'awesome-typescript-loader?forkChecker=true',
                exclude: [/node_modules\/ng2-toasty/]
            }`

[2016-06-20 14:21] s-panferov commented on #168
@niieani thanks, I've fixed your case in `v2.0.0-rc.5`.

@olegstepura I'll try to debug your case soon.

[2016-06-20 20:45] mihe commented on #157
Thanks for looking into this @s-panferov . When trying `2.0.0-rc.3` (or any of the later release candidates) I seem to get a new error:
[code]
It might be worth mentioning that I'm using `typescript@next`, which at the moment equates to version `1.9.0-dev.20160620-1.0`.

@nickytonline Is the project you mentioned available somewhere? Would be helpful if I could compare our configurations.

[2016-06-20 21:20] nickytonline commented on #157
@mihe, it's not an open source project, but I can probably just grab the configuration so you can take a peek at it. I'll try and get it to you tomorrow.

[2016-06-20 21:59] t246246 commented on #168
In v2.0.0-rc.4, error reduced. Remaining errors are:
[code]

[2016-06-20 22:07] TheLarkInn commented on #159
@s-panferov the lib property is working great, however I would double-check/ensure that the loader also supports the TS2.0 `paths` mappings property, as it appeared it was not resolving properly and the `files` properties relative string paths also saw this issue.

[2016-06-20 22:07] TheLarkInn commented on #159
I didn't want to put an issue in yet since it's still a WIP for you

[2016-06-21 01:44] t246246 opened #170 ""TypeError: Cannot read property 'text' of undefined" with 2.0.0-rc.6 and typescript 1.9.0-dev on Windows."
I separate this issue from [#168](https://github.com/s-panferov/awesome-typescript-loader/issues/168)

When I use awesome-typescript-loader 2.0.0-rc.6 with typescript 1.9.0-dev.20160620-1.0 on Windows, both with mingw and command prompt.  No errors on MacOS X and linux environment.

[code]
 Other setting is same as #168.

[2016-06-21 07:16] s-panferov commented on #168
@t246246 Your issues might be fixed by `2.0.0-rc.7`, everything compiles correctly (on MacOS, I'll try on Windows later as well).

This error:

[code]

This seems to be related to https://github.com/Microsoft/TypeScript/issues/8518, so it seems that you need to use `typescript@next` to compile this project.

[2016-06-21 07:18] s-panferov commented on #168
@t246246 also please take a note, that this setup

[code]

can be replaced with more performant

[code]

This will work faster because it will cache result files and will not trigger TS and Babel emit if nothing changed.

[2016-06-21 14:13] spiffytech opened #171 "Error when using inline sourcemaps"
I'm using inline sourcemaps but awesome-typescript-loader is compiling my code with `sourceMaps` enabled, which is incompatible.

**WebPack output / error**
[code]

**webpack.config.js**

[code]

**tsconfig.json**

[code]

[2016-06-21 15:05] TheLarkInn commented on #156
@s-panferov how would you go about setting this in `alias` in webpack. (I've pasted below what I've been able to get to work in `ts-loader`. If it helps.

`ts.config`
[code]
`webpack.config.js`

[code]

[2016-06-21 15:52] asvetliakov commented on #159
2.0.0-rc.10 gives me this error:
[code]
tsconfig
[code]
stack trace
[code]

[2016-06-21 18:56] xadhoom commented on #163
I've tried rc.10, but same errors.

In addition, it complains with rxjs (I'm also using angular2 latest release) with errors like:
Invalid module name in augmentation, module '../../Observable' cannot be found.

[2016-06-21 20:46] nickytonline commented on #157
@mihe, here's what I could grab for my configuration as it's generated from functions in our build utilities package for the project and as I mentioned we're running TypeScript 1.8.10.

[code]

[2016-06-22 03:54] bang88 opened #172 "Is possible write a plugin ?"
Can we do something with `awesome-typescript-loader` like babel do.

I want use the [babel-plugin-antd](https://github.com/ant-design/babel-plugin-antd) to reduce my js size.But i dont know how to handle this with typescript-loader.any idea ?

Thanks .

[2016-06-22 05:32] s-panferov commented on #171
@spiffytech thanks for your report, I'll fix this.

[2016-06-22 05:38] s-panferov commented on #156
@TheLarkInn yes, aliases is the right way to go. I just need to think if it possible to set them automatically , using info from tsconfig.json.

I suppose we need something like

[code]

[2016-06-22 05:40] s-panferov commented on #163
[code]

This looks like a TS bug, see [my another comment](https://github.com/s-panferov/awesome-typescript-loader/issues/168#issuecomment-227359572)

[2016-06-22 05:42] s-panferov commented on #159
@asvetliakov ok, I'll try to debug on windows.

[2016-06-22 06:09] t246246 commented on #170
On 2.0.0-rc.10 error changed
[code]

[2016-06-22 07:12] s-panferov commented on #170
@t246246 thanks, I'll try to debug on windows. I think that this is some kind of problem with path normalization.

[2016-06-22 07:27] TheLarkInn commented on #156
@s-panferov could you set it in compiler.plugin('run') or ('watch-run') or both.

[2016-06-22 08:22] s-panferov commented on #156
@TheLarkInn I don't think so, because as far as I remember webpack creates resolver one time during init process. I need to dig into this.

[2016-06-22 10:22] t246246 commented on #170
@s-panferov

It might be related to typescript issue [9123](https://github.com/Microsoft/TypeScript/issues/9123)
Pull request: [9138](https://github.com/Microsoft/TypeScript/pull/9138)

[2016-06-22 10:50] olegstepura commented on #168
Hi, @s-panferov!

I created a test repo for tests https://github.com/olegstepura/awesome-typescript-loader-test
Seems like everything is compiled (browser displays the App), but in console I see this (awesome-typescript-loader is 2.0 beta 10)
[code]

Plus initial compilation is extremely slow. Please try checking it on your side.

[2016-06-22 11:01] olegstepura commented on #168
Also I should note that this `[default]` prefix in console is very confusing. I suggest stating that this message was from `awesome-typescript-loader`, even better if is would contain some context info (to understand why this happends: e.g. typescript compilation error or resolver error...)

[2016-06-22 14:32] olegstepura opened #174 "[2.0] No colors if forkChecker is used"
The output becomes non-colored if I use `forkChecker: true` and `ForkCheckerPlugin()` in webpack config.

[2016-06-22 14:57] TheLarkInn commented on #156
@sokra do you have any suggestions for this? I'm not sure the _best_ way to handle aliasing like this.

[2016-06-22 15:31] sokra commented on #156
You can write a resolver plugin for webpack, which takes care of resolving dependencies accoring to a `tsconfig` relative to the origin file.

[2016-06-22 15:44] s-panferov commented on #156
@sokra ok, I'll try to implement this. Do you have any examples?

[2016-06-22 15:45] TheLarkInn commented on #156
@s-panferov https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsApply.js#L273-L286

Looks like how webpack reads aliases and applies them.

[2016-06-22 17:30] mihe commented on #157
Thanks for the configuration snippet, @nickytonline . Unfortunately it didn't help.

As a test I threw together a very barebones Electron application (with stable TypeScript) which reproduces the error that I'm getting:

https://github.com/mihe/atl-resolve-issue

Feel free to test it, @s-panferov , to see if it helps you debug the issue, or perhaps reveal some obvious flaws that I'm making.

I als

[2016-06-23 09:49] s-panferov commented on #168
@t246246 your setup fixed on Windows in `awesome-typescript-loader@2.0.0-rc.11`. Can you please try?

[2016-06-23 12:27] t246246 commented on #168
Thank you!  I confirmed it works on Windows and MacOS X.

[2016-06-23 12:28] t246246 commented on #170
Confirmed to work with

"awesome-typescript-loader": "^2.0.0-rc.11"
"typescript": "^1.9.0-dev.20160623-1.0"

Thank you.

[2016-06-23 12:28] #170 closed

[2016-06-23 12:52] s-panferov commented on #168
@olegstepura could you please try `awesome-typescript-loader@2.0.0-rc.11` for your case?

[2016-06-23 13:13] sokra commented on #156
Here is the webpack alias plugin: https://github.com/webpack/enhanced-resolve/blob/master/lib/AliasPlugin.js

It's used here: https://github.com/webpack/enhanced-resolve/blob/master/lib/ResolverFactory.js#L155

---

So you can write your own alias plugin: `TsConfigAliasPlugin` and use it in the configuration:

[code]

[2016-06-23 23:07] Kflash opened #177 "Cannot find type definition files - 2.0.0-rc.12"
Hey! Nice work! I upgraded to v. 2.0.0-rc.12 and got some errors regarding type definition.

[code]

I guess this happen because `awesome-typescript-loader` are looking for the `typings` folder?

I'm running latest TypeScript 2.0 Pre (nigthly build). From TS 2.0 typings as we know it from before are all deprecated. Now type definition has to be installed through NPM `@types/chai`

You can read abo

[2016-06-24 02:08] t246246 opened #178 "[2.0] file change is not detected on Windows"
With awesome-typescript-loader 2.0.0-rc.12, ts file change is not detected when running `webpack-dev-server --hot --inline`. This seems to happen only on Windows.

Using
`webpack 2.1.0-beta.14`
`webpack-dev-server 2.1.0-beta.0`
`typescript 1.9.0-dev.20160623-1.0`

No problem with 1.1.1.

Best Wishes,

[2016-06-24 08:02] s-panferov commented on #178
@t246246 thanks for your report. It's very hard for me to debug on Windows, everything is different :) I think this might be fixed in `2.0.0-rc.13`

[2016-06-24 08:12] s-panferov commented on #177
@Kflash this case must be supported already. Could you please provide some more info about your setup?

[2016-06-24 08:17] Kflash commented on #177
Not home atm but if you try my boilerplate with your latest version you
will see the errors when you bundle;

https://github.com/Kflash/sikky/blob/master/README.md
On Jun 24, 2016 4:13 PM, "Stanislav Panferov" <notifications@github.com>
wrote:

[2016-06-24 13:41] likerRr commented on #162
@s-panferov any updates?

[2016-06-25 07:57] s-panferov commented on #177
@Kflash thanks for the link, your case resolved in `2.0.0-rc.14`

[2016-06-25 08:01] s-panferov commented on #171
@spiffytech I made some investigation for this and it appears that you don't need to compile with `inlineSourceMaps` to get inline source maps. When you inline source maps it's harder for the loader to extract them and pass to webpack. So just use [`inline-source-map` devtool](https://webpack.github.io/docs/configuration.html#devtool) in webpack.

[2016-06-25 08:03] #178 closed

[2016-06-25 08:03] #177 closed

[2016-06-25 08:03] #171 closed

[2016-06-25 08:03] Kflash commented on #177
@s-panferov Nice job! :+1:

[2016-06-25 08:04] s-panferov commented on #166
Fixed in `2.0.0` release candidates.

[2016-06-25 08:04] #166 closed

[2016-06-25 08:04] s-panferov commented on #164
Fixed in `2.0.0` latest release candidates

[2016-06-25 08:04] #164 closed

[2016-06-25 08:05] s-panferov commented on #163
Fixed in latest `2.0.0` release candidates.

[2016-06-25 08:05] #163 closed

[2016-06-25 08:07] s-panferov commented on #159
Should be fixed in latest `2.0.0` release candidates.

[2016-06-25 08:07] #159 closed

[2016-06-25 15:37] brianchance commented on #164
@s-panferov - thank you. Just tested and it is working.

[2016-06-25 16:23] s-panferov commented on #156
Basic implementation landed in `v2.0.0-rc.15`.

[code]

Please try and say what you think.

[2016-06-25 16:55] TheLarkInn commented on #156
Good timing I'll try right now. Great work.

[2016-06-25 17:48] TheLarkInn commented on #156
`ReferenceError: ts is not defined
    at Object.readConfigFile (/Users/larkinfamily/Code/angular-cli/node_modules/awesome-typescript-loader/src/instance.ts:319:30)`

I didn't see `ts` defined anywhere in `instance.ts`

[2016-06-25 18:04] TheLarkInn commented on #156
OH hold that though, I'm sory I set that up wrong. Let me try again.

[2016-06-25 18:48] TheLarkInn commented on #156
@s-panferov I am still seeing that error. Just to confirm, I don't have to pass any arguments to the plugin, it likes in the code it already picked up and obtained from `instance`

[2016-06-25 18:58] TheLarkInn commented on #156
Here is a [gist](https://gist.github.com/TheLarkInn/954f866378d16229846beecb4da1a070) of the configuration if this helps.

[2016-06-25 19:05] gdi2290 commented on #164
thanks

[2016-06-25 19:42] s-panferov commented on #156
@TheLarkInn just to confirm, you don't have a `tsconfig.json` file in your project?

[2016-06-25 19:47] s-panferov commented on #156
I've fixed the error in `2.0.0-rc.16`, but it appeared only when you don't have tsconfig.json.

This is right config for your app:

[code]

Unfortunately, the plugin can't communicate with the loader, so you have to specify `tsconfig` option twice for now.

[2016-06-25 19:47] TheLarkInn commented on #156
This is for a situation where angular CLI I which generates projects. so the tsconfig is not at the root execution path it's the projects patg

[2016-06-25 19:58] TheLarkInn commented on #156
Thank you that's no problem at all. I'll let you know here in a bit, sorry for this edge-casey kind of stuff.

[2016-06-25 20:14] gdi2290 opened #179 "2.0.0-rc.16: Invalid module name in augmentation"
I can not update from 0.17.0 due to this error
install https://github.com/AngularClass/angular2-webpack-starter and run `npm run start`
then update awesome-typescript-loader to 2.0.0-rc.16 and install then start then wait for the forkChecker
[code]

[2016-06-27 07:48] s-panferov commented on #156
@TheLarkInn could you please confirm that everything works?

[2016-06-27 07:50] s-panferov commented on #179
@gdi2290 it seems like it's TS error https://github.com/Microsoft/TypeScript/issues/8518

Please try `typescript@next`.

[2016-06-27 07:50] #179 closed

[2016-06-27 07:53] s-panferov commented on #162
@likerRr I think that error is in TypeScript itself https://github.com/Microsoft/TypeScript/pull/9232

Loader right now tries to use `isolatedModules` and fast `transpileModules` emit. I'll create a flag to disable the feature.

[2016-06-27 08:44] olegstepura commented on #168
I tried using `awesome-typescript-loader@2.0.0-rc.11`

[code]

With `awesome-typescript-loader@2.0.0-rc.17` it's still the same. Please feel free to git clone my test repo and try it yourself.

[2016-06-27 09:02] olegstepura commented on #168
@s-panferov Please also note I'm on Windows.

[2016-06-27 14:20] TheLarkInn commented on #156
@s-panferov Yup. I'll take a look at it again today. And let you know what I find.

[2016-06-27 15:21] guncha commented on #156
Nice, I can confirm that it works with `baseUrl` and `paths` options in `tsconfig.json`. A few things that weren't immediately obvious to me:

1. This is a webpack 2.0 plugin and the configuration has no effect when used with 1.x.
2. I had to add `*.ts` and `*.tsx` to `resolve.extensions`. That seems a little odd, but I think I understand the underlying reason for it. Perhaps the plugin could ensu

[2016-06-27 17:26] Luchillo opened #180 "[Q&A] Using different typescript instance?"
Here's the thing, i have a loader like this:
[code]

I'm trying to implement angular2's `Static Template Compiler` feature in my project, according with their docs in [@angular/compiler-cli](https://github.com/angular/angular/tree/master/modules/%40angular/compiler-cli#compiler-cli) the command itself is a drop-in replacement for `tsc` which means to run it would i have to make a loader for it to

[2016-06-27 19:08] Luchillo commented on #180
I think i got it, i need to call the `ngc` in `tsconfig-json` and set it as the compiler option, but i have an issue, Ng2 projects usually have 1 main file that manages bootstrap and 1 root component that get's imported into the main file, the Ng2 feature expects that i use `ngc` in the root component, that generates a factory that get's imported in the main file and that one gets compiled as well

[2016-06-27 23:46] t246246 opened #181 "When declaration is true in tsconfig.json, no .d.ts output on Windows"
When declaration is true in tsconfig.json,
[code]
on Mac OSX,
[code]
But on Windows with the same configuration no .d.ts files are output.
[code]

Using
awesome-typescript-loader: 2.0.0-rc.17
typescript: 1.9.0-dev.20160627-1.0
webpack: 2.1.0-beta.14

With awesome-typescript-loader 1.1.1, it works as expected.
[code]

[2016-06-28 00:26] t246246 commented on #181
It seems it's because of cache.

[2016-06-28 02:36] gdi2290 commented on #179
there was another issue. will switch to ts-loader until typescript 2 is out since 0.17.0 also has this problem

[2016-06-28 13:26] t246246 commented on #152
It seems this happens only on Windows, both with version 1.1.1 and 2.0.0-rc.17.
The very first time, i.e. no .awcache folder, it works, but after that this issue occurs. If I remove .awcache, it works again.

On MacOS X, it works even with .awcache.

[2016-06-28 13:26] #181 closed

[2016-06-28 13:35] TheLarkInn commented on #156
My edge case project is really hard to test this feature and tell you reliably if it's working so I'm going to create a test project and test this feature more in depth.

[2016-07-03 12:47] niieani commented on #153
This would be fantastic! Using Closure Compiler instead of Babel as the second step of TS compilation with tsickle's annotations would make this the best TS->JS workflow to date. 🎆

[2016-07-04 09:34] frederickfogerty commented on #54
Hey @s-panferov, sorry to bother you, but I am receiving this error as well. I am not running webpack in the same directory as my `node_modules` as I am programatically iterating through different directories to generate a file for each directory. I was wondering what you did to fix this and if I'm missing anything. Thanks!

[code]
i.e. I run `webpack --config ../../webpack.config.js` in each of t

[2016-07-04 11:18] frederickfogerty commented on #54
So I found the option `awesomeTypescriptLoaderOptions.babelCore` (found in the source) which I was able to use to fix the issue.

[2016-07-04 11:22] frederickfogerty commented on #54
@s-panferov I've added some info to the docs about the option. I think this can be closed, unless you want to automatically traverse the tree to find `node_modules`

[2016-07-04 12:44] s-panferov commented on #54
@frederickfogerty thanks!

[2016-07-07 13:38] Sorceror opened #183 "Question - Web workers"
Is it possible to use this loader with Web workers? Do I need to configure it somehow?
I've try to find any TypeScript/WebPack related web workers examples, but without any luck.
It's probably naive question, but could someone point me to the right direction or link some existing typescript + webpack example with web workers?
It would help me a lot!

[2016-07-08 22:35] TheLarkInn commented on #156
@s-panferov I had to back port an isolated hack of this to v1.1.1 but when I did I could confirm it was working (did have some a-t-loader diagnostic errors because a-t-loader 's Resolver was failing to find 1 or two files). In regards to the back port there seems to be some strange path resolution issues outside of this use.

Second when `baseUrl:''` it needs to default to './' or path.dirname(con

[2016-07-09 16:29] Luchillo commented on #183
What exactly you plan for Web Workers? I have Web Services working in mine for App Caching my output files, depending on the use you have for Web Workers things might work.

Just in case my repo: [Luchillo/Ng2-Pro-webpack-starter](https://github.com/Luchillo/Ng2-Pro-webpack-starter), i'm using a plugin named `offline-plugin` which uses the output and generates the SW file, maybe it can give an ide

[2016-07-09 18:14] TheLarkInn opened #184 "[2.0.1] Paths resolving incorrectly when `baseUrl:''`"
ATL Version: 2.0.1
Typescript Version: `typescript@next`

**Expected Behavior:** When you set `baseUrl` to an empty string (`''`), it should default to `path.dirname(configFilePath)`.

**Actual Behavior:** Currently instead of being the path relative to the config file, it is resolving to the directory that the process was run in (`process.cwd()`).

Below is a small illustration showing the concer

[2016-07-09 18:19] TheLarkInn commented on #184
@danielrosenwasser sounds right?

[2016-07-10 01:41] mohsen1 opened #185 "Using ts-node for compiling server-side TypeScript that uses CSS/Image/HTML loaders"
#### My Setup
I am working on this universal application that [is open source](https://github.com/rah-foundation/website). Check it out at [b699116](https://github.com/rah-foundation/website/tree/b699116d5b8594ef65c43b8211225ec4b16a33a3) where I have this issue

Here is my `tsconfig.json`:

[code]

And here is the webpack config: [`webpack.config.server.ts`](https://github.com/rah-foundation/websi

[2016-07-10 14:11] nullptr128 opened #186 "Webpack watch not triggered if logic is not changed"
Hello!

The problem exists in TypeScript@2.0.0 version. Didnt checked earlier ones. Problem is - if I make a change on code that does NOT result in changing emitted JS, webpack watch is not triggered. For example adding an interface into some random .ts file does not trigger watch and does not reevaluate errors because interfaces are not compiled into final files. Second example could be with defi

[2016-07-11 02:40] #185 closed

[2016-07-11 07:31] Sorceror commented on #183
I've eventually find out how exactly configure [webpack worker loader](https://github.com/webpack/worker-loader) together with typescript, so this issue can be closed.
I'm using them to side-load data from three.js visualization, because there is quite a lot of them and I don't want to block UI because of long loading times.

[2016-07-11 07:31] #183 closed

[2016-07-11 12:22] ThaNarie opened #187 "Fix "Unknown file" Error in 1.x version?"

[2016-07-11 17:37] DanielRosenwasser commented on #184
Sounds right! :smile:

[2016-07-11 19:54] ThaNarie commented on #137
I had a similar issue with the `const enum` feature.

First if all (even in 2.x), it never inlines the (const) enum values, so you will end up with:
[code]

When `preserveConstEnums` is set to false (or left out) in the `tsconfig.json`, it will strip the export from the enum file (probably it thinks that it's inlined everywhere, so it's not needed), but due to the incorrect inlining behavior, this

[2016-07-12 09:16] JamesHenry opened #189 "Question: Tree-shaking"
Hi @s-panferov,

Given that TypeScript 2 now supports leaving ES2015 module syntax intact (whilst transpiling the rest), and Webpack 2 is able to perform tree-shaking on ES2015 module syntax, I was wondering if there are things to bear in mind with allowing that in awesome-typescript-loader...

Right now I am on ATL <2, TS 1.8 and Webpack 2, and I am taking advantage of tree-shaking by setting the

[2016-07-12 13:36] SteveVanOpstal opened #190 "Cannot read property 'exclude' of undefined"
The full error:

The line of code where the error occurs ([here](https://github.com/s-panferov/awesome-typescript-loader/blob/master/src/instance.ts#L267)) seems like the first point where `compilerConfig` is used.
So it seems like atl is unable to find or read my `tsconfig.json` file, it is however at the root and contains nothing out of the ordinary:
[code]

[2016-07-13 15:38] SteveVanOpstal commented on #190
The `compilerConfig` object content:

[code]
It lacks the expected typingOptions:
[code]

Haven't found the cause for this issue yet.

[2016-07-13 16:38] niieani commented on #186
@nullptr128 why don't you let your IDE do the type checking?

[2016-07-13 17:43] nullptr128 commented on #186
Unfortunately my IDE does not work too well because TypeScript checker crashes from time to time (https://github.com/Microsoft/TypeScript/issues/8717) so it cant be used reliably. Also sometimes it cant be worked around and requires restarting webpack in order to continue. For example, you can do something like this:

let controller = Express(); // without importing express

Webpack will now throw

[2016-07-14 13:12] t246246 opened #191 "ReferenceError occured when adding something to types in tsconfig.json"
My tsconfig.json
[code]
(Note I installed type definitions with `npm install @types/node -D`.)

in webpack.config.js

[code]

When running webpack with `npm start`, the error is:
[code]

versions of modules:
[code]
Using ts-loader it works with no problem.
[code]

[2016-07-14 14:39] aspirisen commented on #190
Had the same issue, upgrading to TypeScript 1.8.10 helped

[2016-07-14 22:00] MeirionHughes opened #193 "Declaration file sub-folder issue"
I have an entry `./source/index.ts`,
which correctly compiles to `./dist/index.js`,
but for some reason when enable declarations I get `./dist/source/index.d.ts`

Is there a way to fix this to `./dist/index.d.ts` ?  :)

[code]

[code]

[2016-07-15 07:38] kucharzyk opened #194 "Error with type definitions referenced from other definition files"
Hi,

I've got problem with refernces in typescript definitions like that:

[code]

Webpack throws error like this
[code]

* Error is not specific to 'selenium-webdriver'.
* Definitions without such references works fine

I think it could be problem with awesome-typescrpt-loader

My configuration details:

package.json
[code]

tsconfig.json
[code]

[2016-07-15 08:59] dmeenhuis commented on #189
@JamesHenry Without wanting to hijack the issue, would you happen to have an example repository that uses the setup you describe? Or would you be willing to share your configuration? I'm trying to do something similar, but I feel I can't quite get it to work.

[2016-07-15 09:26] #190 closed

[2016-07-15 13:23] t246246 commented on #191
Solved at awesome-typescript-loader: 2.0.2.

[2016-07-15 13:23] #191 closed

[2016-07-15 16:24] JamesHenry commented on #189
@dmeenhuis Check out: https://gist.github.com/JamesHenry/b53ce4836a2e5f83edd3bcaafc7c4555 and comment on there if you have any questions

[2016-07-15 19:22] vkrol opened #195 "awesome-typescript-loader and lib option"
Hi.

I've got problem with the lib option in the tsconfig.json.

[code]

When i try to compile my project I get this error:
[code]

Repository with the sample code: https://github.com/vkrol/awesome-typescript-loader-and-lib-option
You can execute `npm run build` to see this error.

Probably it is related to https://github.com/s-panferov/awesome-typescript-loader/issues/194

Thanks!

[2016-07-17 17:56] kucharzyk commented on #195
Lib option is not working for me also

[2016-07-18 05:48] sanex3339 opened #196 "Cannot find typings with typescript@beta and @type"
This loader has same problem as `ts-loader` after `typescript-2.0.0-beta` update.

Possible solution by @mhegazy:

original issue https://github.com/DefinitelyTyped/DefinitelyTyped/issues/10113

### original problem:

After installing @types/node i got multiple errors:

[code]

I add all definitions to `types`

But as said https://github.com/mhegazy in https://github.com/DefinitelyTyped/Definitely

[2016-07-18 09:56] Bnaya commented on #129
I have this error using v1.1.1

[2016-07-18 11:04] JurajMlich commented on #195
+1

[2016-07-18 11:04] JurajMlich commented on #194
+1

[2016-07-18 19:06] gdi2290 opened #197 "useWebpackText should be default"
it's a common gotcha not realizing you need this. This option should be default and if someone wanted faster builds it should be recommended as the first step

[2016-07-19 05:29] #184 closed

[2016-07-19 06:21] s-panferov commented on #197
Thanks for your suggestion. Option was removed.

[2016-07-19 06:21] #197 closed

[2016-07-19 06:25] s-panferov commented on #196
@sanex3339 it seems that you're using `ts-loader`, not `awesome-typescript-loader`. But I make sure that your case compiles normally.

[2016-07-19 06:38] s-panferov commented on #196
@sanex3339 your case compiles on OSX, so please describe your env.

[2016-07-19 06:59] #167 closed

[2016-07-19 11:31] metrophos commented on #194
+1

[2016-07-19 13:49] TheLarkInn commented on #195
@s-panferov I looks like this issue is specific to windows users.

[2016-07-19 13:49] JurajMlich commented on #195
@TheLarkInn I don't think so, I face this issue on Mac as well :/

[2016-07-19 13:51] TheLarkInn commented on #195
Interesting, what if you try `es6` instead of `es2015` (I know they are the same but just provides some more information.

[2016-07-19 14:25] vkrol commented on #195
Still getting the same error.

[2016-07-19 16:04] kucharzyk commented on #195
version 2.1.0  works with lib for me (even under windows)

[2016-07-19 16:05] kucharzyk commented on #194
Issue stil exists in version 2.1.0

[2016-07-19 16:14] vkrol commented on #195
Me too. Thanks! I think that the changes in this revision https://github.com/s-panferov/awesome-typescript-loader/commit/43e92fb5eab1b48bf40a3854d46fdde39ea88f0a fixes this bug.

[2016-07-19 16:15] #195 closed

[2016-07-20 08:32] jhuntoo commented on #194
+1

[2016-07-20 22:42] LukeNZ opened #198 "awesome-typescript-loader does not obey experimentalDecorators setting in tsconfig.json"
# Issue

Running `webpack` using the below configuration results in the following **erro**r being emitted for each Angular 2 component:

`ERROR in [default] C:\app\components\app.component.ts:17:13`
` Experimental support for decorators is a feature that is subject to change in a future release. Set the 'experimentalDecorators' option to remove this warning. `

This does not occur when using the n

[2016-07-22 18:19] niieani commented on #162
Any updates on this? The TypeScript bug seems to have been closed, but I still get incorrect metadata (e.g. `Object` instead of `Element`) when using `TypeScript@next`.
I've tried setting `disableFastEmit` to true, to no avail.

[2016-07-22 19:43] niieani commented on #162
I did two tests:

  1. Adding a triple slash reference:
[code]
  Does not help unfortunately :(

  2. Declare `Element` in file:

[code]

This does work!

So it seems like the library files are not being added to the list of compilation files, hence the emitted metadata defaults to `Object` instead.

[2016-07-23 07:25] #156 closed

[2016-07-23 07:26] s-panferov commented on #196
@sanex3339 confirmed that it works on windows too

[2016-07-23 07:33] s-panferov commented on #194
It's very hard for me to debug on Windows. Could you please create some minimal example which I can use to reproduce the issue?

[2016-07-23 07:36] s-panferov commented on #186
This is unrelated to the loader, please see https://github.com/webpack/webpack/issues/2538. You can use [forkChecker](https://github.com/s-panferov/awesome-typescript-loader#forkchecker-boolean-defaultfalse) as a possible workaround.

[2016-07-23 07:36] #186 closed

[2016-07-23 07:53] kucharzyk commented on #194
Just add the following types:

package.js
[code]

tsconfig.conf
[code]

Protractor types reference selenium-webdriver so you can get error:
[code]

[2016-07-23 12:57] s-panferov commented on #194
@kucharzyk what project are you talking about?

https://github.com/kucharzyk/spring-angular2-starter ?

How to run it? I don't see any webpack.config.json in the root.

[2016-07-23 13:12] kucharzyk commented on #194
Frontend app is in shardis-ui directory
You can build it using
'''
npm run build:prod
'''

[2016-07-23 16:12] JurajMlich commented on #194
@s-panferov https://github.com/AngularClass/angular2-webpack-starter

[2016-07-24 09:13] ThaNarie opened #200 "Breaking change in 2.1.0"
Just ran a fresh travis build and something broke that we didn't change.

`[Error: ENOENT: no such file or directory, open 'config/typings/index.d.ts']`

Comparing the `npm ls` from the old and the new installs, we noticed that this plugin was updated from `2.0.1` to `2.1.0`

In `config/tsconfig.test.json` we have a include to `"typings/index.d.ts"`.
If we change it to `"../typings/index.d.ts"` it

[2016-07-25 06:29] s-panferov commented on #194
Should be fixed in `awesome-typescript-loader@2.1.1`

[2016-07-25 07:20] kucharzyk commented on #194
Tested under linux:

* It's not working with awesome-typescript-loader@2.1.0
* It's working with awesome-typescript-loader@2.1.1

Good job!!!

Thanks

[2016-07-25 07:23] JurajMlich commented on #194
Working on Mac as well. Thanks :)

[2016-07-25 19:56] #194 closed

[2016-07-25 22:16] jefbarn commented on #196
I tried moving my project from using typings to @types from npm today, but found that niether ATL or ts-loader is picking up the @types files.  My project compiles fine using typescript 2.0, but throws type errors when loading using webpack.

also tried loading the TsConfigPathsPlugin.  Is there some setting I need to enable for this?

[2016-07-26 02:24] filipesilva commented on #196
Also using `awesome-typescript-loader@2.1.1` and trying to user `@types`, with limited success.

I have installed `@types/jasmine` and have the following TS code:

[code]

My `tsconfig.json`:
[code]

I get these errors:
[code]

If I explicitly add the ref, it works fine `/// <reference path="../../node_modules/@types/jasmine/index.d.ts" />`.

This leads me to believe it's a problem with loading `@

[2016-07-26 02:43] filipesilva commented on #196
I experimented a bit more and found that explicitly using the `types` array in tsconfig fixes it, but it shouldn't be necessary:
[code]

[2016-07-26 14:58] TheLarkInn opened #201 "PathsPlugin by default"
Is there any downsides to implement PathsPluggin by default or reasons why we shouldn't? Something to consider. It would keep implementation details clean

[2016-07-26 17:22] kevin-ashton opened #202 "Question: Failing the build on TypeScript compilation error"
Could someone explain how I might fail the build with a compile error. I need to fail for my CI. Ts-loader has a [section](https://github.com/TypeStrong/ts-loader#failing-the-build-on-typescript-compilation-error) on this and recommends using the webpack-fail-plugin. However that does not seem to be working for me with awesome-typescript-loader. Has anyone else got this to work? Any thoughts?

[](

[2016-07-26 18:27] jefbarn commented on #196
Yeah, I found the same...adding to 'types' fixes AWL errors but I agree it shouldn't be necessary.

[2016-07-26 19:08] s-panferov commented on #196
@filipesilva, @jefbarn why do you think it should not be necessary?

[2016-07-26 19:11] sanex3339 commented on #196
yes, becouse @mhegazy said so:

[2016-07-26 19:12] s-panferov opened #203 "Support `typeRoots`"

[2016-07-26 19:13] s-panferov commented on #196
Ah, I see, it's supposed that directories from`typeRoots` should be included automatically. I'll investigate this in #203

[2016-07-26 19:13] #196 closed

[2016-07-26 19:14] filipesilva commented on #196
@s-panferov I expected ATL to follow the same behavior as `tsc`, and under my scenario `tsc` was able to find the typings using only `typeRoots` without the `types` array.

[2016-07-26 19:16] s-panferov commented on #202
@kevin-ashton `webpack-fail-plugin` should work. Could you provide some more info about your environment? (versions, webpack.config.js, OS, CI output)

[2016-07-26 19:17] s-panferov commented on #202
@kevin-ashton another option is to run webpack with `--bail` flag, but in this case you will see only first error.

[2016-07-26 19:22] mover96 commented on #159
@s-panferov, I am getting a similar error to @asvetliakov and I am on Windows as well. My build works fine with `ts-loader`, and all I did was switch to `awesome-typescript-loader`, and I added the following to my `tsconfig.json`:
[code]
And I get the following error: `Error: Debug Failure. False expression: Output generation failed Error: Debug Failure. False expression: Output generation failed`

[2016-07-26 19:23] jefbarn commented on #196
Additionally, tsc 2.0 will also search @types folder in node_modules without adding anything to typeRoots.  I couldn't find this documented anywhere, but you can see it if you use --traceResolution with tsc.

[2016-07-26 19:25] asvetliakov commented on #159
@mover96 I think 2.0 versions are for TS 2.0+ only

[2016-07-26 19:26] sanex3339 commented on #196
this ticket about it

[2016-07-26 19:30] mover96 commented on #159
@asvetliakov, I downgraded to atl `1.1.1` and I am receving the following error:
[code]

However I am not sure if this is directly related to this issue anymore, should I create a new one?

[2016-07-26 19:36] kevin-ashton commented on #202
@s-panferov I must have had something misconfigured because the `webpack-fail-plugin` seems to be working just fine for me now. Not sure what I was doing wrong. Sorry about that.

[2016-07-27 01:06] israelg99 commented on #179
+1 Same error for me, I'll switch to ts-loader, maybe I am doing something wrong, however my config file is pretty much standard.
Either way, the error disappears upon switching to ts-loader which screams "bug".

[2016-07-27 06:37] #202 closed

[2016-07-27 16:46] alexeib commented on #137
still a problem in any version > 0.17 it seems, including 1.1.1. const enums are supposed to be transpiled into their value, but instead are kept as is which causes runtime exceptions. preserveConstEnums doesnt do anything as we are not exporting the enums

[2016-07-28 05:07] s-panferov commented on #137
Please try `disableFastEmit` option. Will it work?

[2016-07-28 21:37] layton-glympse commented on #135
I'm getting a similar issue. I upgraded from 1.1.1 which was constantly throwing random, unreliable errors about files not being findable that existed (it would output the correct path).
Upon upgrade to ^2.0.0 (which gave me 2.1.1) those errors went away. However once I run npm start, after about 60 seconds (once I'm already using the site locally) I'll get a massive *massive* dump of errors compl

[2016-07-29 17:56] alexeib commented on #137
Nope, putting that into tsconfig as below does not work. Tried both 1.1.1 and 0.19.1

  "awesomeTypescriptLoaderOptions": {
    "forkChecker": true,
    "useBabel": true,
    "target": "es6",
    "disableFastEmit": false
  },

[2016-07-30 08:50] sanex3339 commented on #196
ping

[2016-07-31 12:57] cortopy commented on #179
`typescript@next` is now dev versions which are not supported. However, `typescript@2.0.0` sorted the problem

[2016-08-03 15:52] Den-dp commented on #179
@s-panferov not sure, because simple calling of `tsc` (1.8.10) works without errors in my case.

Here is simple project with repro https://github.com/Den-dp/atl-augmentation-error-repro

Thanks

[2016-08-03 16:18] Den-dp commented on #179
I just realized, that `2.x` version of `atl` may not mean compatibility with `tsc@1.x` :fearful: (because all works just fine with atl@1.1.1).
Can you clarify on this, please?

[2016-08-07 11:18] thrandre commented on #194
Still having issues with this on version 2.1.1:

[code]

I'm guessing this is the culprit (from `@types/react-dom/react-dom.server.d.ts`):
[code]

No compilation issues when using version prior to 2.0.3 (2.0.2 works like a charm) or when using `tsc` directly.

My `tsconfig.json` (for completeness):
[code]

Thanks!

[2016-08-09 16:50] JamesHenry commented on #189
Any feedback on this @s-panferov?

[2016-08-09 19:56] Tragetaschen opened #205 "Module augmentation shows errors that bare typescript doesn't"
Repro: https://github.com/Tragetaschen/awesome-typescript-loader-module-augmentation

I am trying to temporarily fix an bug in the d3-v4 `@types/d3-shape` by augmenting the `d3-shape` module with another member in a local `.d.ts` file.

Typescript is fine with this (`tsc -p .`).

Invoking TypeScript through webpack and awesome-typescript-loader  on the other hand shows

[code]

As you can see, I'm

[2016-08-10 06:12] s-panferov commented on #205
@Tragetaschen  Thanks for the repro example, I'll take a look

[2016-08-10 17:27] TheLarkInn commented on #145
Have you had much thought of this as of late @s-panferov. I know you've been busy like the rest of us. Timing would be stellar if theres something not documented thats already possible for @hansl and I to implement.

[2016-08-10 21:35] aspirisen opened #206 "Biult fails if noEmitOnError is true"
Hi, I've got error if `noEmitOnError` is `true` in tsconfig.json when I run webpack in console. Running tsc shows no errors.

[code]

In attachement you can find an example of this error. [Client.zip](https://github.com/s-panferov/awesome-typescript-loader/files/412149/Client.zip)

[2016-08-11 07:29] thrandre commented on #205
I'm having a somewhat similar issue with react and react-dom.

[code]

I'm guessing this is the culprit (from `@types/react-dom/react-dom.server.d.ts`):
[code]

No compilation issues when using version prior to 2.0.3 (2.0.2 works like a charm) or when using `tsc` directly.

My `tsconfig.json` (for completeness):
[code]

Thanks!

[2016-08-11 09:02] sky-coding opened #207 "Angular 2: No Directive annotation found on <Component>"
I'm using awesome-typescript-loader to build an Angular 2 component library, and then consume it with another awesome-typescript-loader webpack app. I'm very happy with the setup, except annotations don't seem to be compiling correctly.

I've made an example here: https://github.com/sky-coding/angular-2-webpack-library using version `1.1.1`, and another branch running `2.1.1`. Both have the same e

[2016-08-11 09:05] sky-coding commented on #198
I haven't seen this error on a similar setup (v2.1.1). Could you delete your `tsconfig.json` file and rebuild, to verify webpack is reading the correct config?

[2016-08-11 11:03] Delagen commented on #203
+1

[2016-08-11 12:08] Nalha commented on #179
The angular webpack starter still uses atl 1.1.1 and I presume its because of this error.

https://github.com/AngularClass/angular2-webpack-starter

[2016-08-11 12:30] Den-dp commented on #179
@Nalha `awesome-typescript-loader@2.x` aims to support only `typescript@2.x` and `webpack@2x`, if you need old compilers please use 1.x or 0.x versions.

[2016-08-11 19:54] JMStudiosJoe commented on #196
It might also help to note that not only do you need to install with npm @types/express but you also need to do it with npm express for the .js files. I assumed the first command would also take care of .js being able to recognize the express framework through @types but now I know you must also install with npm install express --save.

[2016-08-12 14:26] Delagen opened #208 "no output found when import from NPM module"
for example
[code]
generate error
[code]

[2016-08-12 17:06] scotmeiste commented on #155
I've run into this issue as well with awesome-typescript-loader version 2.1.1

[2016-08-13 18:31] thekip opened #209 "Loader show errors about files inside node_modules"
I don't know is this behavior correct or not, but it stumped our team for a week.

I have the simple webpack config:

[code]
The important part here is `exclude: /node_modules/`, so i thinked this is enough for loader to exclude library folder from transpiling or type checking.

Actually it'is not.

In entry point  `app.ts` we have just one import and dumb code which used this import:
[code]
`rx`

[2016-08-15 07:01] #203 closed

[2016-08-15 07:11] s-panferov commented on #209
This is by-design, because default `tsc` behavior is to include *every* `.d.ts` file it finds in the folder where `tsconfig.json` located. Use `exclude` or `include` directive to tune this behavior.

[2016-08-15 07:11] #209 closed

[2016-08-15 07:12] s-panferov commented on #205
@Tragetaschen should be fixed in v2.2.0

[2016-08-15 07:49] thekip commented on #209
Actually there is not `.d.ts` file, `rx.all.js` is a `JS` file, and tsc compiler point to error inside this JS file, so your answer about by-design tsc behavior is wrong.

https://github.com/Reactive-Extensions/RxJS/blob/v3.1.2/dist/rx.all.js#L7662

[2016-08-15 07:59] beckend opened #210 "v2.2.0 file not found"
`tsconfig.json`:
[code]
`Module build failed: Error: ENOENT: no such file or directory, open '/Users/linken/Coding/REACT/myProject/Users/linken/Coding/REACT/myProject/Users/linken/Coding/REACT/myProject/typings/index.d.ts'`.

There are duplicates in the path in `v2.2.0`, works fine in `v2.1.1`.

[2016-08-15 08:06] fgambino commented on #210
This is happening to me too on Windows.

[2016-08-15 08:11] DcsMarcRemolt commented on #210
Can confirm the effect. Just upgrading from 2.1.1 broke the build with the same error (different file but filesystem path joined multiple times).

[2016-08-15 08:13] Tragetaschen commented on #205
Hmm, my reproduction still fails on my machine. The errors are reversed, though:
[code]

[2016-08-15 08:44] s-panferov commented on #210
Confirmed, fixed in v2.2.1

[2016-08-15 08:52] s-panferov commented on #205
It seems that I need to test this on windows.

[2016-08-15 09:31] DxCx commented on #210
Hi @s-panferov

I've encountered a bug that looks similar to me,
i have a typings.d.ts files that return ENOENT.
(The base path is tripled)
after debugging i nailed out this commit: 71d01b1caec0346b30a91045ee04fa09e63a6bb3

Note that <path> is censored, but the same each time it is showen (/home/....../project_dir)
ERROR in ./src/main.ts
Module build failed: Error: ENOENT: no such file or director

[2016-08-15 09:36] DxCx commented on #210
@s-panferov  Nvm,
i've just seen 2.2.1 is published,
verified your fix (Both Commit makes sense and tested it) - it is working, Thanks!

[2016-08-15 09:43] tomaash opened #211 "v2.2.1 when upgraded from v2.1.1 I get this.ts.getAutomaticTypeDirectiveNames is not a function"
After upgrading from version v2.1.1 to v2.2.1 I get this error:

ERROR in ./src/app/app.tsx
Module build failed: TypeError: this.ts.getAutomaticTypeDirectiveNames is not a function
    at State.loadTypesFromConfig (/Users/tom/Code/StartMonday/sm-web-widget/node_modules/awesome-typescript-loader/src/host.ts:148:36)
    at new State (/Users/tom/Code/StartMonday/sm-web-widget/node_modules/awesome-typ

[2016-08-15 09:47] #210 closed

[2016-08-15 09:47] tomaash commented on #211
OK, nevermind. Actually upgrading to webpack 2.1.0-beta.20 solved the issue. So just note here, v2.1.1 was still accidentally compatible with webpack 1, but v2.2.1 is not.

[2016-08-15 09:47] #211 closed

[2016-08-15 14:29] cortopy opened #212 "Regression 2.2.1: getAutomaticTypeDirectiveNames"
I just upgraded to 2.2.1 and I'm getting the following error when packaging an angular app:

[code]

Reverting to 2.1.1 gets rid of this issue

[2016-08-15 14:34] filipesilva commented on #196
Have tested with `awesome-typescript-loader@2.2.1` (which includes https://github.com/s-panferov/awesome-typescript-loader/issues/203) and can verify `typeRoots` works properly without having a `types` array.

Great job @s-panferov!

[2016-08-15 17:43] caleblloyd commented on #212
I am also getting this when doing npm install:

    ERROR in ./src/index.tsx
    Module build failed: TypeError: this.ts.getAutomaticTypeDirectiveNames is not a function
        at State.loadTypesFromConfig (../node_modules/awesome-typescript-loader/src/host.ts:148:36)
        at new State (../node_modules/awesome-typescript-loader/src/host.ts:142:14)
        at Object.ensureInstance (../node_modu

[2016-08-15 17:51] s-panferov commented on #212
Please provide your versions (ts, webpack, os)

[2016-08-15 18:42] Haemoglobin opened #213 "useBabel and useCache performance"
Hi,

I was using awesome-typescript-loader without Babel and had hot reload turned on in webpack, but in my project a single file change would result in webpack dev server sitting on a "recompiling" step for 7-10 seconds before the updated module came through.

I read on the ATL docs that things can be sped up if combined with Babel and the useBabel and useCache ATL options. So I made the necessar

[2016-08-15 18:46] caleblloyd commented on #212
OS: Ubuntu 16.04 LTS
    Node: v6.3.0
    NPM: 3.10.3
    "webpack": "^1.13.0",
    "typescript": "^1.8.10",

[2016-08-15 18:54] caleblloyd commented on #212
Sorry just read this from README.md:

**Supported TypeScript**

awesome-typescript-loader@2.x aims to support only typescript@2.x and webpack@2x, if you need old compilers please use 1.x or 0.x versions.

Will revert to 1.x.  Looks like the boilerplate I used (https://github.com/rangle/typescript-react-redux-starter) already fixed this too.

[2016-08-15 22:31] abierbaum opened #214 "Loader breaks generated property decorators of type Date"
Took me a while to track this one down, but when I have a project that uses decorators with a class that has a property of type `Date`, something about the awesome-typescript-loader makes the compiler think that property is actually an `Object` instead.

I have a github repository that demonstrates the issue:  https://github.com/abierbaum/typescript_2_date_bug

The source for the decorated class l

[2016-08-16 05:55] t57ser commented on #209
node_modules/xmlhttprequest-ssl/lib/XMLHttpRequest.js:208:6
Unreachable code detected.

I see the same behaviour, that it is checking inside javascript files for errors.

[2016-08-17 15:13] thekip commented on #209
May be should add it to readme as required option in tsconfig.json?

ts-loader has this in readme.

[2016-08-18 01:19] trevorsg commented on #205
I'm running into the exact same issue as @thrandre on 2.1.1.

[2016-08-18 09:50] dylanparry opened #216 "Doesn't seem to find tsconfig.json"
I've just tried switching for TS-Loader to Awesome Typescript Loader and have come up against a few issues. I'm using Typescript 1.8.10 and Webpack 1.13.1, so have installed version 1.1.1 of ATL as per the readme.

The errors I'm getting refer to flags that are definitely already set in my `tsconfig.json` file, such as:

[code]

and:

[code]

I’m also seeing errors about being unable to find modul

[2016-08-18 12:05] scottmcdonnell commented on #149
@Truedrog did you ever get this sorted or come up with a workaround?

[2016-08-18 12:13] Truedrog commented on #149
Yeah, switched back to ts-loader.

[2016-08-18 13:12] scottmcdonnell commented on #149
@Truedrog I still get the __assign error with ts-loader! Has your webpack or tsconfig changed to make it work?

[2016-08-18 14:19] scottmcdonnell commented on #149
I think I fixed this by removing a `noEmitHelpers` flag I had in tsconfig.

[2016-08-19 05:10] Veikedo opened #217 "modulesTypeError: this.ts.getAutomaticTypeDirectiveNames is not a function"
After upgrading from 2.0.1 to 2.2.1 I got this error:

The full log can be found here: https://gist.github.com/Veikedo/2ec86150746ff3d0b2b830d6d9878b15

My tsconfig.json
`{
  "compilerOptions": {
    "target": "es5",
    "module": "commonjs",
    "moduleResolution": "node",
    "sourceMap": true,
    "noEmitOnError": false,
    "removeComments": false,
    "noImplicitAny": false,
    "noEmitHelper

[2016-08-19 09:43] anton-107 commented on #129
+1 - v1.1.1 (used in angular2-webpack-starter) has this issue

[2016-08-19 17:09] circy commented on #217
i have the same problem.

[2016-08-19 19:21] locnguyen commented on #217
Same here. I'm trying to use webpack for an Ionic 2 project that was scaffolded by the CLI so I don't think I'm doing anything out of the ordinary.

[2016-08-19 19:54] garygentry commented on #217
Same problem.

[2016-08-19 22:13] Epenance commented on #217
Same problem here

[2016-08-19 22:14] locnguyen commented on #217
I switched to ts-loader and it's working. That will do until this is resolved

[2016-08-20 04:28] Veikedo commented on #217
@locnguyen I think it's better to just not upgrading :)
Just removed ^ in package.json to use exactly version

[2016-08-22 06:46] helloncanella commented on #217
+1

[2016-08-22 08:06] cortopy commented on #212
Tried again now and 2.2.1 is not throwing the error any more :)

[2016-08-22 16:08] marcbuils commented on #217
Same problem.

[2016-08-22 23:10] davidmoshal commented on #217
+1

[2016-08-23 08:55] Veikedo commented on #217
I'm blind. Here's already an opened issue and the answer https://github.com/s-panferov/awesome-typescript-loader/issues/212#issuecomment-241340835

[2016-08-23 08:55] #217 closed

[2016-08-23 09:40] giacomorebonato opened #219 "Problem with resolving ReactJS typings"
I have a Typescript project that compiles successfully with the `tsc` command.
I have installed ReactJS typings with the command ```typings install dt~react --save --global```.
In my node_modules I am using [React-Toolbox](https://github.com/react-toolbox/react-toolbox/blob/dev/package.json) which already comes with type definitions that depend on ReactJS.
If I launch the compilation through webpa

[2016-08-24 08:58] giacomorebonato commented on #219
My problem seems to be related to Typescript@next and [this issue](https://github.com/Microsoft/TypeScript/issues/10283).
Switching back to stable version fix everything

[2016-08-24 08:58] #219 closed

[2016-08-26 08:43] admmasters commented on #194
This is happening to me as well:
`node_modules/@types/react-dom/index.d.ts:6:0
File 'node_modules/@types/react-dom/react-dom.server.d.ts' not found.`

[2016-08-30 13:20] stphdenis opened #220 "configFilePath already absolute"
The file `instance.ts` for `function readConfigFile()` just before the last `return` at line 342 have this code.
[code]
`configFilePath` don't already absolute ?

[2016-08-31 21:29] jzahka commented on #171
Thanks, this partly solved the issue for me.
I also had to change the test regex for the webpack sourcemap plugin to include .ts files (it tests for only .js and .css files by default).

[code]